
# Created by https://www.gitignore.io/api/eclipse

### Eclipse ###

.metadata
target/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

######
config.properties
logs/
src/main/resources/de/sg/computerinsel/db/ci.tmp
src/main/resources/de/sg/computerinsel/db/ci.lck
src/main/resources/de/sg/computerinsel/db/ci.log
src/main/resources/de/sg/computerinsel/db/ci.properties
src/main/resources/de/sg/computerinsel/db/ci.script