button {
  background-color: #1A8CFF;
  border: none;
  color: white;
  font-size: 15px;
  height: 40px;
  min-width: 200px;
  margin-left: 20px;
}

.btnSmall {
  height: 20px !important;
  width: 30px !important;
}

button.add {
  mask: url("../icons/add.svg") no-repeat center;
  -webkit-mask: url("../icons/add.svg") no-repeat center;
}

button.angebot {
  mask: url("../icons/angebot.svg") no-repeat center;
  -webkit-mask: url("../icons/angebot.svg") no-repeat center;
}

button.auftrag {
  mask: url("../icons/auftrag.svg") no-repeat center;
  -webkit-mask: url("../icons/auftrag.svg") no-repeat center;
}

button.bad {
  background-color: #D8000C !important;
  mask: url("../icons/bad.svg") no-repeat center;
  -webkit-mask: url("../icons/bad.svg") no-repeat center;
}

button.delete {
  mask: url("../icons/delete.svg") no-repeat center;
  -webkit-mask: url("../icons/delete.svg") no-repeat center;
}

button.duplicate {
  mask: url("../icons/duplicate.svg") no-repeat center;
  -webkit-mask: url("../icons/duplicate.svg") no-repeat center;
}

button.edit {
  mask: url("../icons/edit.svg") no-repeat center;
  -webkit-mask: url("../icons/edit.svg") no-repeat center;
}

button.email {
  mask: url("../icons/email.svg") no-repeat center;
  -webkit-mask: url("../icons/email.svg") no-repeat center;
}

button.euro {
  mask: url("../icons/euro.svg") no-repeat center;
  -webkit-mask: url("../icons/euro.svg") no-repeat center;
}

button.error {
  background-color: #D8000C;
}

button.good {
  mask: url("../icons/good.svg") no-repeat center;
  -webkit-mask: url("../icons/good.svg") no-repeat center;
}

button.key {
  mask: url("../icons/key.svg") no-repeat center;
  -webkit-mask: url("../icons/key.svg") no-repeat center;
}

button.kunde {
  mask: url("../icons/kunde.svg") no-repeat center;
  -webkit-mask: url("../icons/kunde.svg") no-repeat center;
}

button.kunden {
  mask: url("../icons/kunden.svg") no-repeat center;
  -webkit-mask: url("../icons/kunden.svg") no-repeat center;
}

button.minus {
  mask: url("../icons/minus.svg") no-repeat center;
  -webkit-mask: url("../icons/minus.svg") no-repeat center;
}

button.ok {
  mask: url("../icons/ok_.svg") no-repeat center;
  -webkit-mask: url("../icons/ok_.svg") no-repeat center;
}

button.ok2 {
  mask: url("../icons/ok2.svg") no-repeat center;
  -webkit-mask: url("../icons/ok2.svg") no-repeat center;
}

button.open-new-tab {
  mask: url("../icons/open-new-tab.svg") no-repeat center;
  -webkit-mask: url("../icons/open-new-tab.svg") no-repeat center;
}

button.pageLeft {
  mask: url("../icons/left.svg") no-repeat center;
  -webkit-mask: url("../icons/left.svg") no-repeat center;
}

button.pageRight {
  mask: url("../icons/right.svg") no-repeat center;
  -webkit-mask: url("../icons/right.svg") no-repeat center;
}

button.recht {
  mask: url("../icons/recht.svg") no-repeat center;
  -webkit-mask: url("../icons/recht.svg") no-repeat center;
}

button.zahnrad {
  mask: url("../icons/zahnrad.svg") no-repeat center;
  -webkit-mask: url("../icons/zahnrad.svg") no-repeat center;
}

button.add, button.angebot, button.auftrag, button.bad, button.delete, button.duplicate, button.edit, button.email,
button.euro, button.good, button.key, button.kunde, button.kunden, button.minus,
button.ok, button.ok2, button.open-new-tab, button.recht, button.zahnrad {
  background-color: #1a8cff;
  float: none;
  height: 30px;
  margin: none;
  margin-left: 0px;
  min-width: 20px;
  padding: 0;
  width: 40px;
}

button.angebot.disabled, button.auftrag.disabled, button.euro.disabled, button.zahnrad.disabled {
  background-color: #a9a9a9;
  cursor: default;
}

button.pageLeft, button.pageRight {
  background-color: #1a8cff;
  float: none;
  height: 10px;
  margin: none;
  margin-left: 0px;
  min-width: 20px;
  padding: 0;
  width: 20px;
}

button.pageLeft.disabled, button.pageRight.disabled {
  background-color: #a9a9a9;
  cursor: default;
}

button.panel {
  background-color: #EDEDED;
  height: 200px;
  width: 200px;
}

button.info {
  background-color: #00529B;
}

button.info.disabled, button.disabled {
  background-color: #637A8E;
  box-shadow: none;
  cursor: default;
}

button:hover {
  cursor: pointer;
}

button:hover, div.form {
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.16),0 5px 20px 0 rgba(0,0,0,0.12);
}

button.success {
  background-color: #4F8A10;
}

button.warning {
  background-color: #9F6000;
}
