body {
  background-color: white;
  font-family: sans-serif;
}

#content {
  top: 150px;
}

div.form {
  background-color: #EDEDED;
  margin-bottom: 20px;
  min-height: 100px;
  overflow: auto;
  padding: 10 10 10 10;
  width: 600px;
}

h1 {
  font-size: 20px;
  height: 25px;
}

hr {
  border-color: #80ccff;
}

#header {
  background-color: #102759;
  color: white;
  height: 130px;
  margin-bottom: 5px;
  top: 0;
  width: 100%;
}

label {
  font-size: 15px;
}

input, select, textarea {
  border-color: #80ccff;
  border-style: solid;
  border-width: 1px;
  font-size: 15px;
  font-family: sans-serif;
  height: 25px;
}

textarea.big {
  height: 150px;
}

input.error {
  background-color: #FFD2D2 !important;
}

input:focus, input:hover, select:focus, select:hover {
  background-color: #ffffcc;
}

input[readonly], select[readonly], textarea[readonly] {
  background-color: #ededed;
}

input.success {
  background-color: #DFF2BF !important;
}

input.warning {
  background-color: #FEEFB3 !important;
}

.hide {
  display: none;
}

.logoutLink {
  float: right;
  height: 20px;
  color: #CEC319;
  padding-right: 5px;
}

#navigation {
  height: 40px;
  top: 100px;
}

.navigationLink {
  background-color: #CEC319;
  color: #102759;
  display: inline-block;
  margin-right: -4px;
  padding: 3 5 3 5;
  text-align: center;
  text-decoration: none;
}

.navigationLink:hover, .navigationLink.active {
  background-color: #ffff99;
}

.required:after {
  content: " *";
}

.right {
  float: right;
}

select {
  background-color: white;
}

::selection {
  background: #a8ffab;
}
::-moz-selection {
  background: #a8ffab;
}

textarea {
  max-height: 300px;
  min-height: 70px;
  resize: vertical;
}
