<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Angebot drucken - Computer-Insel Tools by Sita Geßner</title>
    <link rel="icon" href="/themes/icons/angebot.png">
    <link rel="stylesheet" href="/themes/css/bestellung.css">
    <link rel="stylesheet" href="/themes/css/general.css">
    <script type="text/javascript" src="/scripts/vendor/vue.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/vue-i18n.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/axios.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/moment.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/de.js"></script>
  </head>
  <body>
    <div id="angebot-drucken" v-cloak>
      <header>
        <div class="center" style="width: 250px; height: 90px;">
          <img src="/themes/icons/logo.png" width="250" height="90">
        </div>
        <div class="center">
          {{ $t("general.ci") }}
          <br>
          {{ $t("general.gesellschafter") }}
        </div>
        <br>
        <div class="mFull">
          <span class="left">{{entity.angebot.filiale.strasse}}, {{entity.angebot.filiale.plz}} {{entity.angebot.filiale.ort}}</span>
          <br>
          <span class="left">{{ $t("general.tel") }}: {{entity.angebot.filiale.telefon}}</span>
          <span class="right">{{ $t("general.internet") }}</span>
          <br>
          <span class="left">{{ $t("general.steuernr") }}</span>
          <span class="right">{{ $t("general.email") }}: {{entity.angebot.filiale.email}}</span>
        </div>
        <br>
        <br>
        <div class="center">{{ $t("general.verkaufinfo") }}</div>
        <hr class="header">
      </header>
      <header>
      <div class="font15 m4 right">{{entity.angebot.filiale.ort}}, {{ $t("general.datumDen") }} {{entity.angebot.erstelltAm.substring(0, 10)}}</div>
      <div class="font15" v-if="entity.angebot.kunde" style="width: 350px;">
        <span v-if="entity.angebot.kunde.firmenname">{{entity.angebot.kunde.firmenname}}<br></span>
        <span v-if="entity.angebot.kunde.nachname && entity.angebot.kunde.nameDruckenBeiFirma"><span v-if="entity.angebot.kunde.akademischerTitel">{{entity.angebot.kunde.akademischerTitel}} </span>{{entity.angebot.kunde.vorname}} {{entity.angebot.kunde.nachname}}<br></span>
        {{entity.angebot.kunde.strasse}}
        <br>
        {{entity.angebot.kunde.plz}} {{entity.angebot.kunde.ort}}
      </div>
      </header>
      <div class="center font30">{{ $t("general.angebot") }}</div>
      <div class="font15">{{ $t("angebot.angebotsnummer") }}: {{entity.angebot.filiale.kuerzel}}{{entity.nummerAnzeige}}</div>
      <br>
      <br>
      <table style="border-collapse: collapse">
        <thead>
          <th style="text-align: center; width: 50px;">{{ $t("general.menge") }}</th>
          <th style="width: 500px;">{{ $t("angebot.produktDl") }}</th>
          <th style="text-align: right; width: 100px;">{{ $t("general.einzelpreis") }}</th>
          <th style="text-align: right; width: 100px;">{{ $t("general.gesamtpreis") }}</th>
        </thead>
        <tbody>
          <tr v-for="posten in entity.angebotsposten" style="border-bottom: 1px solid black;">
            <td style="padding: 5px; text-align: center; width: 50px;">{{posten.menge}}</td>
            <td style="padding: 5px; width: 500px;">{{posten.bezeichnung}}</td>
            <td style="padding: 5px; text-align: right; width: 100px;">{{ formatMoney(posten.preis * 100 / (entity.angebot.mwst + 100)) }} &euro;</td>
            <td style="padding: 5px; text-align: right; width: 100px;">{{ formatMoney(posten.preis * posten.menge * 100 / (entity.angebot.mwst + 100)) }} &euro;</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td style="padding: 5px; width: 50px;">&nbsp;</td>
            <td style="text-align: right; width: 500px;">{{ $t("general.gesamt") }}:</td>
            <td style="text-align: right; width: 100px;">&nbsp;</td>
            <td style="text-align: right; width: 100px;">{{ formatMoney(gesamtNetto) }} &euro;</td>
          </tr>
          <tr v-if="entity.angebot.rabatt > 0.00 || entity.angebot.rabattP > 0.00">
            <td style="padding: 3px; width: 50px;">&nbsp;</td>
            <td style="text-align: right; width: 500px;">{{ $t("angebot.abzglNachlass") }} {{ entity.angebot.rabattP }}%:</td>
            <td style="text-align: right; width: 100px;">&nbsp;</td>
            <td style="text-align: right; width: 100px;">
              <span v-if="entity.angebot.rabatt > 0.00">{{ formatMoney(entity.angebot.rabatt * -1) }} &euro;</span>
              <span v-if="entity.angebot.rabattP > 0.00">{{ formatMoney(gesamtrabattP * -1) }} &euro;</span>
            </td>
          </tr>
          <tr>
            <td style="padding: 3px; width: 50px;">&nbsp;</td>
            <td style="text-align: right; width: 500px;">{{ $t("angebot.zzgl") }} {{ entity.angebot.mwst }}% {{  $t("angebot.mwst") }}:</td>
            <td style="text-align: right; width: 100px;">&nbsp;</td>
            <td style="text-align: right; width: 100px;">{{ formatMoney(mwst) }} &euro;</td>
          </tr>
          <tr>
            <td style="padding: 3px; width: 50px;">&nbsp;</td>
            <td style="text-align: right; width: 500px;">{{ $t("angebot.gesamtMwst") }}:</td>
            <td style="text-align: right; width: 100px;">&nbsp;</td>
            <td style="text-align: right; width: 100px;">{{ formatMoney(gesamtBrutto) }} &euro;</td>
          </tr>
        </tfoot>
      </table>
      <div class="font15">
        <br>
        {{ $t("general.mfg") }}
        <br>
        {{entity.angebot.ersteller}}
        <br>
        {{ $t("general.ciShort") }} {{entity.angebot.filiale.ort}}
      </div>
      <footer>
        <div class="center">
          <br>
          {{ $t("general.besuch") }} {{entity.angebot.filiale.rechnungTextAndereFiliale}}.
          <br>
          <br>
          <br>
          {{ $t("general.firmensitz") }}
          <br>
          {{ $t("general.bankverbindung") }}
        </div>
      </footer>
    </div>
  </body>
  <script src="/scripts/util.js"></script>
  <script src="/scripts/i18n.js"></script>
  <script src="/scripts/messages.dialog.component.js"></script>
  <script src="/scripts/angebot/angebot-drucken.js"></script>
</html>