<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Bestellung drucken - Computer-Insel Tools by Sita Geßner</title>
    <link rel="icon" href="/themes/icons/bestellung.png">
    <link rel="stylesheet" href="/themes/css/bestellung.css">
    <script type="text/javascript" src="/scripts/vendor/vue.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/vue-i18n.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/axios.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/moment.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/de.js"></script>
  </head>
  <body>
    <div id="bestellung-drucken">
      <header>
        <div class="center" style="width: 250px; height: 90px;">
          <img src="/themes/icons/logo.png" width="250" height="90">
        </div>
        <div class="center">
          {{ $t("general.ci") }}
          <br>
          {{ $t("general.gesellschafter") }}
        </div>
        <br>
        <div class="mFull">
          <span class="left">{{entity.filiale.strasse}}, {{entity.filiale.plz}} {{entity.filiale.ort}}</span>
          <br>
          <span class="left">{{ $t("general.tel") }}: {{entity.filiale.telefon}}</span>
          <span class="right">{{ $t("general.internet") }}</span>
          <br>
          <span class="left">{{ $t("general.steuernr") }}</span>
          <span class="right">{{ $t("general.email") }}: {{entity.filiale.email}}</span>
        </div>
        <br>
        <br>
        <div class="center">{{ $t("general.verkaufinfo") }}</div>
        <hr class="header">
      </header>
      <br>
      <br>
      <div class="center font30">{{ $t("bestellung.titel") }}</div>
      <div class="font15">{{ $t("bestellung.nummer") }}: {{entity.filiale.kuerzel}}{{entity.nummerAnzeige}}</div>
      <div class="font15">{{ $t("bestellung.verkaeufer") }}: {{entity.ersteller}}</div>
      <br>
      <table class="font16">
        <tbody>
          <tr>
            <td class="s1" valign="middle">{{ $t("bestellung.titelK") }}:</td>
            <td class="s2" style="white-space: pre-wrap;">{{entity.beschreibung}}</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td class="s1" valign="middle">{{ $t("general.preis") }}:</td>
            <td class="s2">{{entity.kosten}}</td>
            <td>&euro;</td>
          </tr>
          <tr>
            <td class="s1" valign="middle">{{ $t("bestellung.anzahlung") }}:</td>
            <td class="s2">{{entity.anzahlung}}</td>
            <td>&euro;</td>
          </tr>
          <tr>
            <td class="s1" valign="middle">{{ $t("general.name") }}:</td>
            <td class="s2">
              {{entity.kunde.firmenname}}
              <br>
              <span v-if="entity.kunde.akademischerTitel">{{entity.kunde.akademischerTitel}} </span>{{entity.kunde.vorname}} {{entity.kunde.nachname}}
            </td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td class="s1" valign="middle">{{ $t("general.anschrift") }}:</td>
            <td class="s2">{{entity.kunde.strasse}} in {{entity.kunde.plz}} {{entity.kunde.ort}}</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td class="s1" valign="middle">{{ $t("general.telefon") }}:</td>
            <td class="s2">{{entity.kunde.telefonAnzeige}} <span v-if="entity.kunde.telefonBemerkung">({{entity.kunde.telefonBemerkung}})</span></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td class="s1" valign="middle">{{ $t("general.lieferdatum") }}:</td>
            <td class="s2">{{formatDate(entity.datum)}}</td>
            <td>&nbsp;</td>
          </tr>
        </tbody>
      </table>
      <table class="font16">
        <tbody>
          <tr>
            <td class="s5">{{ $t("general.datum") }}:</td>
            <td class="s3">{{currentDate}}</td>
            <td>{{ $t("general.unterschriftK") }}:</td>
            <td class="s4">&nbsp;</td>
          </tr>
        </tbody>
      </table>
      <hr />
      {{ $t("general.notizen") }}:
      <br>
      <table class="font16">
        <tbody>
          <tr>
            <td style="padding-top: 8px;">&#9744;</td>
            <td class="s4">{{ $t("bestellung.wareBestellt") }}:</td>
            <td style="padding-top: 8px;">&#9744;</td>
            <td class="s4">{{ $t("bestellung.wareErhalten") }}:</td>
          </tr>
        </tbody>
      </table>
      <br>
      <table style="width: 650px;">
        <tbody>
          <tr>
            <td style="border: 1px solid black;">
              <strong>{{ $t("general.anrufprotokoll") }}</strong>
              <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ $t("general.nr") }}: {{entity.filiale.kuerzel}}{{entity.nummerAnzeige}}</span>
              <span v-if="entity.kunde.telefonAnzeige">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9990; {{entity.kunde.telefonAnzeige}}</span>
              <span v-if="entity.kunde.email">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9993; {{entity.kunde.email}}</span>
            </td>
          </tr>
         </tbody>
       </table>
       <table>
         <thead>
          <tr>
            <td style="width: 150px;">{{ $t("general.datumZeit") }}</td>
            <td style="width: 300px;">{{ $t("general.anrufgrund") }}</td>
            <td style="font-size: 8px; width: 40px;">{{ $t("general.kundeInform") }}</td>
            <td style="font-size: 8px; width: 40px;">{{ $t("general.anrufbeantworter") }}</td>
            <td style="font-size: 8px; width: 40px;">{{ $t("general.nichtErreicht") }}</td>
            <td style="font-size: 8px; width: 40px;">{{ $t("general.angehoerInform") }}</td>
          </tr>
        </thead>
        <tbody>
          <tr height="35" v-for="index in 3">
            <td style="border-bottom: 1px solid black; width: 150px;">&nbsp;</td>
            <td style="border-bottom: 1px solid black; width: 300px;">&nbsp;</td>
            <td style="width: 40px;">&#9744;</td>
            <td style="width: 40px;">&#9744;</td>
            <td style="width: 40px;">&#9744;</td>
            <td style="width: 40px;">&#9744;</td>
          </tr>
        </tbody>
      </table>
      <footer>
        <div class="center">
          <br>
          {{ $t("general.besuch") }} {{entity.filiale.rechnungTextAndereFiliale}}.
          <br>
          <br>
          <br>
          {{ $t("general.firmensitz") }}
          <br>
          {{ $t("general.bankverbindung") }}
        </div>
      </footer>
    </div>
  </body>
  <script src="/scripts/util.js"></script>
  <script src="/scripts/i18n.js"></script>
  <script src="/scripts/messages.dialog.component.js"></script>
  <script src="/scripts/bestellung/bestellung-drucken.js"></script>
</html>