<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Bestellung erstellen - Computer-Insel Tools by Sita Geßner</title>
    <link rel="icon" href="/themes/icons/bestellung.png">
    <link rel="stylesheet" href="/themes/css/button.css">
    <link rel="stylesheet" href="/themes/css/dialog.css">
    <link rel="stylesheet" href="/themes/css/grid.css">
    <link rel="stylesheet" href="/themes/css/loading.css">
    <link rel="stylesheet" href="/themes/css/radio.css">
    <link rel="stylesheet" href="/themes/css/raster.css">
    <link rel="stylesheet" href="/themes/css/style.css">
    <link rel="stylesheet" href="/themes/css/tabs.css">
    <script type="text/javascript" src="/scripts/vendor/vue.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/vue-i18n.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/axios.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/moment.min.js"></script>
  </head>
  <body>
    <div id="bestellungErstellen">
      <page-header :marker="'Bestellung'"></page-header>
      <page-header-bestellung v-bind:marker="'Erstellen'"></page-header-bestellung>
      <div id="content">
        <div class="form m1">
          <ersteller-select
            :reset="resetErsteller"
            @changed="setMitarbeiter"
            @resetted="resetErsteller = false;"
          ></ersteller-select>
          <div class="m1" v-if="entity.angebot">
            <label for="bestellungEditForm_angebot">{{ $t("general.angebot") }}</label>
            <button class="angebot btnSmall" :title="$t('angebot.suchen')" @click="showAngebotDialog = true"></button>
            <button class="delete btnSmall" :title="$t('angebot.deselektieren')" @click="entity.angebot = {};"></button>
            <textarea class="m1 big" id="bestellungEditForm_angebot" readonly v-model="entity.angebot.text"></textarea>
          </div>
          <div class="m1" v-if="entity.kunde">
            <label class="required" for="bestellungEditForm_kunde">{{ $t("general.kunde") }}</label>
            <button class="kunde btnSmall" :title="$t('kunde.suchen')" @click="showKundeDialog = true"></button>
            <textarea class="m1" id="bestellungEditForm_kunde" readonly v-model="entity.kunde.completeWithAdress"></textarea>
          </div>
          <div class="m1">
            <div class="m4m">
              <label class="required" for="bestellungEditForm_datum">{{ $t("general.lieferdatum") }}</label>
              <input class="m4" id="bestellungEditForm_datum" type="date" v-model="entity.datum" v-on:change="wochentagdatum = formatDayOfWeek(entity.datum);"/>
            </div>
            <div class="m4m">
              <label for="bestellungEditForm_wochentag_datum">{{ $t("general.wochentag") }}</label>
              <input class="m4" id="bestellungEditForm_wochentag_datum" readonly type="text" v-model="wochentagdatum" />
            </div>
          </div>
          <div class="m1">
            <zeichenzaehler-label :elem="entity.beschreibung" :forid="'bestellungEditForm_beschreibung'" :label="$t('bestellung.titelK')" :maxlength="'2000'" :required="true"></zeichenzaehler-label>
            <textarea class="m1 big" id="bestellungEditForm_beschreibung" maxlength="2000" v-model="entity.beschreibung"></textarea>
          </div>
          <div class="m1">
            <zeichenzaehler-label :elem="entity.kosten" :forid="'bestellungEditForm_kosten'" :label="$t('bestellung.kosten')" :maxlength="'300'" :required="true"></zeichenzaehler-label>
            <input class="m1" id="bestellungEditForm_kosten" maxlength="300" type="text" v-model="entity.kosten"></input>
          </div>
          <div class="m1">
            <zeichenzaehler-label :elem="entity.anzahlung" :forid="'bestellungEditForm_anzahlung'" :label="$t('bestellung.anzahlung')" :maxlength="'300'" :required="true"></zeichenzaehler-label>
            <input class="m1" id="bestellungEditForm_anzahlung" maxlength="300" type="text" v-model="entity.anzahlung"></input>
          </div>
          <button class="right" :title="$t('general.speichern')" v-if="areRequiredFieldsNotEmpty()" v-on:click="saveFunc();">{{ $t("general.speichern") }}</button>
          <button class="right disabled" :title="$t('general.pflichtfelder')" v-if="!areRequiredFieldsNotEmpty()">{{ $t("general.speichern") }}</button>
        </div>
        <div style="height: 280px;"></div>
      </div>
      <messages-box v-bind:text="result" v-if="showDialog" @close="showDialog = false"></messages-box>
      <angebot-suchen-dialog
        :angebot="entity.angebot"
        :kunde="entity.kunde"
        v-if="showAngebotDialog"
        @close="showAngebotDialog = false"
        @saved="handleAngebotResponse"
      ></angebot-suchen-dialog>
      <kunde-suchen-dialog
        :kunde="entity.kunde"
        v-if="showKundeDialog"
        @close="showKundeDialog = false"
        @saved="handleKundeResponse"
      ></kunde-suchen-dialog>
      <rechnung-offen-dialog
        :einstellung-druckansicht-neues-fenster="einstellungDruckansichtNeuesFenster"
        :kunde-id="entity.kunde.id"
        :rechnungen="nichtBezahlteRechnungen"
        v-if="showNichtBezahlteRechnungDialog"
        @close="showNichtBezahlteRechnungDialog = false"
      ></rechnung-offen-dialog>
    </div>
  </body>
  <script src="/scripts/util.js"></script>
  <script src="/scripts/i18n.js"></script>
  <script src="/scripts/localstorage.service.js"></script>
  <script src="/scripts/messages.dialog.component.js"></script>
  <script src="/scripts/header.component.js"></script>
  <script src="/scripts/grid.component.js"></script>
  <script src="/scripts/zeichenzaehler.component.js"></script>
  <script src="/scripts/ersteller.select.component.js"></script>
  <script src="/scripts/angebot/angebot.suchen.dialog.component.js"></script>
  <script src="/scripts/kunde/kunde.suchen.dialog.component.js"></script>
  <script src="/scripts/kunde/kunde.edit.dialog.component.js"></script>
  <script src="/scripts/rechnung/rechnung.offen.dialog.component.js"></script>
  <script src="/scripts/bestellung/bestellung.header.component.js"></script>
  <script src="/scripts/bestellung/bestellung.js"></script>
</html>