<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Einkauf - Computer-Insel Tools by Sita Geßner</title>
    <link rel="icon" href="/themes/icons/einkauf.png">
    <link rel="stylesheet" href="/themes/css/button.css">
    <link rel="stylesheet" href="/themes/css/dialog.css">
    <link rel="stylesheet" href="/themes/css/grid.css">
    <link rel="stylesheet" href="/themes/css/loading.css">
    <link rel="stylesheet" href="/themes/css/radio.css">
    <link rel="stylesheet" href="/themes/css/raster.css">
    <link rel="stylesheet" href="/themes/css/style.css">
    <script type="text/javascript" src="/scripts/vendor/vue.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/vue-i18n.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/axios.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/moment.min.js"></script>
  </head>
  <body>
    <div id="einkauf">
      <page-header :marker="'Einkauf'"></page-header>
      <div id="content">
        <div class="m1">
          <div class="m1">
            <label for="einkaufForm_einkauf">{{ $t("einkauf.vorschlag") }}</label>
            <textarea class="m1" id="einkaufForm_einkauf" readonly style="height: 200px;" v-model="einkauf"></textarea>
          </div>
          <div class="m1">
            <button class="right" :title="$t('einkauf.vorschlagLeeren')" v-on:click="clearEinkauf">{{ $t("einkauf.vorschlagLeeren") }}</button>
            <button class="right" :title="$t('einkauf.hochladenInfo')" v-on:click="save">{{ $t("einkauf.hochladen") }}</button>
          </div>
          <div class="m1">
            <textarea class="m1" id="einkaufForm_uploadEinkauf" style="height: 800px; max-height: none;" v-model="downloadEinkauf"></textarea>
          </div>
        </div>
      </div>
      <messages-box v-bind:text="result" v-if="showDialog" @close="showDialog = false"></messages-box>
    </div>
  </body>
  <script src="/scripts/util.js"></script>
  <script src="/scripts/i18n.js"></script>
  <script src="/scripts/messages.dialog.component.js"></script>
  <script src="/scripts/header.component.js"></script>
  <script src="/scripts/grid.component.js"></script>
  <script src="/scripts/delete.dialog.component.js"></script>
  <script src="/scripts/einkauf/einkauf.js"></script>
</html>