<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Einstellungen - Computer-Insel Tools by Sita Geßner</title>
    <link rel="icon" href="/themes/icons/einstellungen.png">
    <link rel="stylesheet" href="/themes/css/button.css">
    <link rel="stylesheet" href="/themes/css/dialog.css">
    <link rel="stylesheet" href="/themes/css/loading.css">
    <link rel="stylesheet" href="/themes/css/radio.css">
    <link rel="stylesheet" href="/themes/css/raster.css">
    <link rel="stylesheet" href="/themes/css/style.css">
    <link rel="stylesheet" href="/themes/css/tabs.css">
    <script type="text/javascript" src="/scripts/vendor/vue.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/axios.min.js"></script>
  </head>
  <body>
    <div id="einstellungen">
      <page-header :marker="'Einstellungen'"></page-header>
      <page-header-einstellungen v-bind:marker="'Allgemein'"></page-header-einstellungen>
      <div id="content">
        <div class="form">
          <div class="m1">
            <label for="einstellungenForm_ablageverzeichnis">Ablageverzeichnis</label>
            <input class="m1" id="einstellungenForm_ablageverzeichnis" type="text" v-model="einstellungen.ablageverzeichnis.wert" />
          </div>
          <hr>
          <h1>FTP-Server</h1>
          <div class="m1">
            <div class="m2m">
              <label for="einstellungenForm_ftp_host">Host</label>
              <input class="m2" id="einstellungenForm_ftp_host" type="text" v-model="einstellungen.ftpHost.wert" />
            </div>
            <div class="m5">
              <label for="einstellungenForm_ftp_port">Port</label>
              <input class="m5" id="einstellungenForm_ftp_port" type="number" v-model="einstellungen.ftpPort.wert" />
            </div>
          </div>
          <div class="m1">
            <div class="m2m">
              <label for="einstellungenForm_ftp_user">Benutzername</label>
              <input class="m2" id="einstellungenForm_ftp_user" type="text" v-model="einstellungen.ftpUser.wert" />
            </div>
            <div class="m2">
              <label for="einstellungenForm_ftp_password">Passwort</label>
              <input class="m2" id="einstellungenForm_ftp_password" type="password" v-model="einstellungen.ftpPassword.wert" />
            </div>
          <hr>
          <h1>SMTP-Server</h1>
          <div class="m1">
            <div class="m2m">
              <label for="einstellungenForm_smtp_host">Host</label>
              <input class="m2" id="einstellungenForm_smtp_host" type="text" v-model="einstellungen.smtpHost.wert" />
            </div>
            <div class="m5">
              <label for="einstellungenForm_smtp_port">Port</label>
              <input class="m5" id="einstellungenForm_smtp_port" type="number" v-model="einstellungen.smtpPort.wert" />
            </div>
          </div>
          <div class="m1">
            <div class="m2m">
              <label for="einstellungenForm_smtp_user">Benutzername</label>
              <input class="m2" id="einstellungenForm_smtp_user" type="text" v-model="einstellungen.smtpUser.wert" />
            </div>
            <div class="m2">
              <label for="einstellungenForm_smtp_password">Passwort</label>
              <input class="m2" id="einstellungenForm_smtp_password" type="password" v-model="einstellungen.smtpPassword.wert" />
            </div>
          </div>
          <div class="m1">
            <label for="einstellungenForm_mail_body_rechnung">E-Mail Inhalt Rechnung versenden</label>
            <textarea class="m1" id="einstellungenForm_mail_body_rechnung" v-model="einstellungen.mailBodyRechnung.wert"></textarea>
          </div>
          <div class="m1">
            <label for="einstellungenForm_mail_body_reparatur">E-Mail Inhalt Reparaturauftrag erledigt</label>
            <textarea class="m1" id="einstellungenForm_mail_body_reparatur" v-model="einstellungen.mailBodyReparatur.wert"></textarea>
          </div>
          <div class="m1">
            <label for="einstellungenForm_mail_signatur">E-Mail Signatur</label>
            <textarea class="m1" id="einstellungenForm_mail_signatur" v-model="einstellungen.mailSignatur.wert"></textarea>
          </div>
          <div class="m1">
            <button class="right" v-on:click="speichernEinstellungen">Speichern</button>
          </div>
        </div>
      </div>
      <messages-box v-bind:text="result" v-if="showDialog" @close="showDialog = false"></messages-box>
    </div>
  </body>
  <script src="/scripts/util.js"></script>
  <script src="/scripts/messages.dialog.component.js"></script>
  <script src="/scripts/header.component.js"></script>
  <script src="/scripts/einstellungen/einstellungen.header.component.js"></script>
  <script src="/scripts/einstellungen/einstellungen.js"></script>
</html>