<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Einstellungen - Computer-Insel Tools by Sita Geßner</title>
    <link rel="icon" href="/themes/icons/zahnrad.png">
    <link rel="stylesheet" href="/themes/css/button.css">
    <link rel="stylesheet" href="/themes/css/dialog.css">
    <link rel="stylesheet" href="/themes/css/loading.css">
    <link rel="stylesheet" href="/themes/css/radio.css">
    <link rel="stylesheet" href="/themes/css/raster.css">
    <link rel="stylesheet" href="/themes/css/style.css">
    <script type="text/javascript" src="/scripts/vendor/vue.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/axios.min.js"></script>
  </head>
  <body>
    <div id="einstellungen">
      <page-header></page-header>
      <page-header-einstellungen v-bind:marker="'Allgemein'"></page-header-einstellungen>
      <div id="content">
        <div class="form">
          <div class="m1">
            <label for="einstellungenForm_rechungsverzeichnis">Rechnungsverzeichnis</label>
            <input class="m1" id="einstellungenForm_rechungsverzeichnis" type="text" v-model="einstellungen.rechnungsverzeichnis.wert" />
          </div>
          <div class="m1">
            <label for="einstellungenForm_ablageverzeichnis">Ablageverzeichnis</label>
            <input class="m1" id="einstellungenForm_ablageverzeichnis" type="text" v-model="einstellungen.ablageverzeichnis.wert" />
          </div>
          <div class="m1">
            <div class="m2m">
              <label for="einstellungenForm_filiale">Filiale</label>
              <select class="m2" v-model="einstellungen.filiale.wert">
                <option :value="f.key" v-for="f in filialen">{{f.value}}</option>
              </select>
            </div>
          </div>
          <div class="m1">
            <button class="right" v-on:click="speichernEinstellungen">Speichern</button>
          </div>
        </div>
      </div>
      <messages-box v-bind:text="result" v-if="showDialog" @close="showDialog = false"></messages-box>
    </div>
  </body>
  <script src="/scripts/util.js"></script>
  <script src="/scripts/messages.dialog.component.js"></script>
  <script src="/scripts/header.component.js"></script>
  <script src="/scripts/einstellungen/einstellungen.header.component.js"></script>
  <script src="/scripts/einstellungen/einstellungen.js"></script>
</html>