<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Export - Computer-Insel Tools by Sita Geßner</title>
    <link rel="icon" href="/themes/icons/inventar.png">
    <link rel="stylesheet" href="/themes/css/button.css">
    <link rel="stylesheet" href="/themes/css/dialog.css">
    <link rel="stylesheet" href="/themes/css/grid.css">
    <link rel="stylesheet" href="/themes/css/loading.css">
    <link rel="stylesheet" href="/themes/css/radio.css">
    <link rel="stylesheet" href="/themes/css/raster.css">
    <link rel="stylesheet" href="/themes/css/style.css">
    <link rel="stylesheet" href="/themes/css/tabs.css">
    <script type="text/javascript" src="/scripts/vendor/vue.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/vue-i18n.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/axios.min.js"></script>
  </head>
  <body>
    <div id="export">
      <page-header :marker="'Inventar'"></page-header>
      <page-header-inventar v-bind:marker="'Export'"></page-header-inventar>
      <div id="content">
        <div class="form m1">
          <div class="m1">
            <div class="m3m">
              <label for="searchForm_datum_von">{{ $t("export.datumVon") }}</label>
              <input class="m3" v-model="searchQuery.datum_von" id="searchForm_datum_von" type="date" />
            </div>
            <div class="m3">
              <label for="searchForm_datum_bis">{{ $t("export.datumBis") }}</label>
              <input class="m3" v-model="searchQuery.datum_bis" id="searchForm_datum_bis" type="date" />
            </div>
          </div>
          <div class="m1">
            <div class="m3 right">
              <button class="right" :title="$t('general.suchen')" v-on:click="vm.search()">{{ $t("general.suchen") }}</button>
            </div>
            <div class="m3m right">
              <button class="right" :title="$t('export.produktExport')" v-if="produkte.length > 0 && !vm.hasNotRoleExport()" v-on:click="vm.exportProdukte()">{{ $t("export.exportieren") }}</button>
              <button class="right disabled" :title="$t('export.keineProdukte')" v-if="produkte.length === 0 || vm.hasNotRoleExport()">{{ $t("export.exportieren") }}</button>
            </div>
          </div>
        </div>
        <div style="height: 150px;"></div>
        <table>
          <thead>
            <th style="width: 100px;">{{ $t("general.funktionen") }}</th>
            <th style="width: 550px;">{{ $t("inventar.produkt.kategorie") }}</th>
            <th style="width: 550px;">{{ $t("inventar.produkt.gruppe") }}</th>
            <th style="width: 550px;">{{ $t("general.bezeichnung") }}</th>
            <th style="width: 550px;">{{ $t("inventar.produkt.hersteller") }}</th>
            <th style="width: 120px;">{{ $t("inventar.produkt.ean") }}</th>
            <th style="width: 120px;">{{ $t("inventar.produkt.bestandUnendlich") }}</th>
            <th style="width: 100px;">{{ $t("inventar.produkt.ekPreisB") }}</th>
            <th style="width: 100px;">{{ $t("inventar.produkt.ekPreisN") }}</th>
            <th style="width: 100px;">{{ $t("inventar.produkt.vkPreisB") }}</th>
            <th style="width: 100px;">{{ $t("inventar.produkt.vkPreisN") }}</th>
          </thead>
          <tbody>
            <tr v-for="(produkt, index) in produkte">
              <td>
                <button class="minus" :title="$t('export.keinExport')" v-on:click="removeItem(index)"></button>
              </td>
              <td>{{produkt.gruppe.kategorie.bezeichnung}}</td>
              <td>{{produkt.gruppe.bezeichnung}}</td>
              <td>{{produkt.bezeichnung}}</td>
              <td>{{produkt.hersteller}}</td>
              <td>{{produkt.ean}}</td>
              <td>{{produkt.bestandUnendlich ? 'X' : ''}}</td>
              <td>{{ formatMoney(produkt.preisEkBrutto) }}</td>
              <td>{{ formatMoney(produkt.preisEkNetto) }}</td>
              <td>{{ formatMoney(produkt.preisVkBrutto) }}</td>
              <td>{{ formatMoney(produkt.preisVkNetto) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <messages-box v-bind:text="result" v-if="showDialog" @close="showDialog = false"></messages-box>
    </div>
  </body>
  <script src="/scripts/util.js"></script>
  <script src="/scripts/i18n.js"></script>
  <script src="/scripts/messages.dialog.component.js"></script>
  <script src="/scripts/header.component.js"></script>
  <script src="/scripts/inventar/inventar.header.component.js"></script>
  <script src="/scripts/inventar/export.js"></script>
</html>