<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Filialen - Computer-Insel Tools by Sita Geßner</title>
    <link rel="icon" href="/themes/icons/einstellungen.png">
    <link rel="stylesheet" href="/themes/css/button.css">
    <link rel="stylesheet" href="/themes/css/dialog.css">
    <link rel="stylesheet" href="/themes/css/grid.css">
    <link rel="stylesheet" href="/themes/css/loading.css">
    <link rel="stylesheet" href="/themes/css/radio.css">
    <link rel="stylesheet" href="/themes/css/raster.css">
    <link rel="stylesheet" href="/themes/css/style.css">
    <link rel="stylesheet" href="/themes/css/tabs.css">
    <script type="text/javascript" src="/scripts/vendor/vue.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/axios.min.js"></script>
  </head>
  <body>
    <div id="filiale">
      <page-header :marker="'Einstellungen'"></page-header>
      <page-header-einstellungen v-bind:marker="'Filiale'"></page-header-einstellungen>
      <div id="content">
        <div id="gridDiv" v-if="grid.gridColumns.length > 0">
          <grid
            :actions="grid.actions"
            :columns="grid.gridColumns"
            :filter-key="grid.searchQuery"
            :rest-url="grid.restUrl"
            :reload="grid.reload"
            :sort="grid.sort"
            @reloaded="grid.reload = false"
          ></grid>
        </div>
      </div>
      <edit-dialog
        :rest-url-get="editRow.restUrlGet"
        :rest-url-save="editRow.restUrlSave"
        :title="editRow.title"
        v-if="showEditDialog"
        @close="showEditDialog = false"
        @saved="handleEditResponse"
      ></edit-dialog>
      <messages-box v-bind:text="result" v-if="showDialog" @close="showDialog = false"></messages-box>
    </div>
  </body>
  <script src="/scripts/util.js"></script>
  <script src="/scripts/messages.dialog.component.js"></script>
  <script src="/scripts/header.component.js"></script>
  <script src="/scripts/grid.component.js"></script>
  <script src="/scripts/einstellungen/filiale.edit.dialog.component.js"></script>
  <script src="/scripts/einstellungen/einstellungen.header.component.js"></script>
  <script src="/scripts/einstellungen/filiale.js"></script>
</html>