<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Import - Computer-Insel Tools by Sita Geßner</title>
    <link rel="icon" href="/themes/icons/inventar.png">
    <link rel="stylesheet" href="/themes/css/button.css">
    <link rel="stylesheet" href="/themes/css/dialog.css">
    <link rel="stylesheet" href="/themes/css/grid.css">
    <link rel="stylesheet" href="/themes/css/loading.css">
    <link rel="stylesheet" href="/themes/css/radio.css">
    <link rel="stylesheet" href="/themes/css/raster.css">
    <link rel="stylesheet" href="/themes/css/style.css">
    <link rel="stylesheet" href="/themes/css/tabs.css">
    <script type="text/javascript" src="/scripts/vendor/vue.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/vue-i18n.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/axios.min.js"></script>
  </head>
  <body>
    <div id="import">
      <page-header :marker="'Inventar'"></page-header>
      <page-header-inventar v-bind:marker="'Import'"></page-header-inventar>
      <div id="content">
        <div class="form m1">
          <div class="m1">
            <input accept="application/json" class="m1" id="searchForm_file" name="file" ref="produkteFile" type="file" @change="loadFile">
          </div>
          <div class="m1">
            <div class="m3m right">
              <button class="right" :title="$t('import.produktImport')" v-if="produkte.length > 0 && !vm.hasNotRoleImport()" v-on:click="vm.importProdukte()">{{ $t("import.importieren") }}</button>
              <button class="right disabled" :title="$t('import.keineProdukte')" v-if="produkte.length === 0 || vm.hasNotRoleImport()">{{ $t("import.importieren") }}</button>
            </div>
          </div>
        </div>
        <div style="height: 150px;"></div>
        <table>
          <thead>
            <th style="width: 100px;">{{ $t("general.funktionen") }}</th>
            <th style="width: 550px;">{{ $t("inventar.produkt.kategorie") }}</th>
            <th style="width: 550px;">{{ $t("inventar.produkt.gruppe") }}</th>
            <th style="width: 550px;">{{ $t("general.bezeichnung") }}</th>
            <th style="width: 550px;">{{ $t("inventar.produkt.hersteller") }}</th>
            <th style="width: 120px;">{{ $t("inventar.produkt.ean") }}</th>
            <th style="width: 120px;">{{ $t("inventar.produkt.bestandUnendlich") }}</th>
            <th style="width: 100px;">{{ $t("inventar.produkt.ekPreisB") }}</th>
            <th style="width: 100px;">{{ $t("inventar.produkt.ekPreisN") }}</th>
            <th style="width: 100px;">{{ $t("inventar.produkt.vkPreisB") }}</th>
            <th style="width: 100px;">{{ $t("inventar.produkt.vkPreisN") }}</th>
          </thead>
          <tbody>
            <tr v-for="(produkt, index) in produkte">
              <td>
                <button class="minus" :title="$t('import.keinImport')" v-on:click="removeItem(index)"></button>
              </td>
              <td>{{produkt.kategorieBezeichnung}}</td>
              <td>{{produkt.gruppeBezeichnung}}</td>
              <td>{{produkt.bezeichnung}}</td>
              <td>{{produkt.hersteller}}</td>
              <td>{{produkt.ean}}</td>
              <td>{{produkt.bestandUnendlich ? 'X' : ''}}</td>
              <td>{{ formatMoney(produkt.preisEkBrutto) }}</td>
              <td>{{ formatMoney(produkt.preisEkNetto) }}</td>
              <td>{{ formatMoney(produkt.preisVkBrutto) }}</td>
              <td>{{ formatMoney(produkt.preisVkNetto) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <messages-box v-bind:text="result" v-if="showDialog" @close="showDialog = false"></messages-box>
    </div>
  </body>
  <script src="/scripts/util.js"></script>
  <script src="/scripts/i18n.js"></script>
  <script src="/scripts/messages.dialog.component.js"></script>
  <script src="/scripts/header.component.js"></script>
  <script src="/scripts/inventar/inventar.header.component.js"></script>
  <script src="/scripts/inventar/import.js"></script>
</html>