<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Kassenbuch - Computer-Insel Tools by Sita Geßner</title>
    <link rel="icon" href="/themes/icons/kasse.png">
    <link rel="stylesheet" href="/themes/css/button.css">
    <link rel="stylesheet" href="/themes/css/dialog.css">
    <link rel="stylesheet" href="/themes/css/grid.css">
    <link rel="stylesheet" href="/themes/css/loading.css">
    <link rel="stylesheet" href="/themes/css/radio.css">
    <link rel="stylesheet" href="/themes/css/raster.css">
    <link rel="stylesheet" href="/themes/css/style.css">
    <link rel="stylesheet" href="/themes/css/tabs.css">
    <script type="text/javascript" src="/scripts/vendor/vue.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/vue-i18n.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/axios.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/moment.min.js"></script>
  </head>
  <body>
    <div id="kassenbuch">
      <page-header :marker="'Kassenbuch'"></page-header>
      <page-header-kassenbuch v-bind:marker="'Kassenbuch'"></page-header-kassenbuch>
      <div id="content">
        <div class="form">
          <div class="m1">
            <div class="m4m">
              <label class="required" for="kassenbuch_datum">{{ $t("rechnung.rechnungsdatum") }}</label>
              <input class="m4" id="kassenbuch_datum" type="date" v-model="model.kassenbuch.datum" />
            </div>
            <div class="m1">
              <div class="m1">
                <label class="required" for="kassenbuch_ausgangsbetrag">{{ $t("kassenbuch.ausgangsbetragVomVortag") }}</label>
              </div>
              <input class="m2" id="kassenbuch_ausgangsbetrag" type="number" step=".01" v-model="model.kassenbuch.ausgangsbetrag" v-on:change="berechneGesamt()" />
            </div>
          </div>
          <div class="m1">
            <button class="right" :title="$t('general.suchen')" v-on:click="suchen">{{ $t("general.suchen") }}</button>
          </div>
        </div>
        <div class="form m1">
          <table>
            <thead>
              <tr>
                <th class="tableNavi">
                  <button class="add" :title="$t('kassenbuch.eintragHinzufuegen')" v-on:click="openAddEintragungDialog()"></button>
                </th>
              </tr>
            </thead>
            <thead>
              <th style="width: 200px;">{{ $t("kassenbuch.verwendungszweck") }}</th>
              <th style="width: 100px;">{{ $t("kassenbuch.einnahme") }}</th>
              <th style="width: 100px;">{{ $t("kassenbuch.ausgabe") }}</th>
            </thead>
            <tbody>
              <tr v-for="(posten, index) in model.posten">
                <td>{{ posten.verwendungszweck }}</td>
                <td v-if="posten.betrag > 0">{{ formatMoney(posten.betrag) }}</td>
                <td></td>
                <td v-if="posten.betrag < 0">{{ formatMoney(posten.betrag) }}</td>
              </tr>
            </tbody>
          </table>
          <div class="m1" style="height: 10px;"></div>
          <div class="m1">
            <label for="kassenbuchForm_gesamt">{{ $t("kassenbuch.gesamtInklAusgangsbetrag") }}</label>
            <input class="m5 right" readonly type="number" v-model="gesamt" />
          </div>
          <div class="m1">
            <button class="right" :title="$t('general.speichern')" v-if="areRequiredFieldsNotEmpty()" v-on:click="saveFunc();">{{ $t("general.speichern") }}</button>
            <button class="right disabled" :title="$t('general.pflichtfelder')" v-if="!areRequiredFieldsNotEmpty()">{{ $t("general.speichern") }}</button>
          </div>
        </div>
        <posten-edit-dialog
          :entity="editEntity"
          v-if="showEditDialog"
          @close="showEditDialog = false"
          @saved="handleEditResponse"
        ></posten-edit-dialog>
      </div>
      <messages-box v-bind:text="result" v-if="showDialog" @close="showDialog = false"></messages-box>
    </div>
  </body>
  <script src="/scripts/util.js"></script>
  <script src="/scripts/i18n.js"></script>
  <script src="/scripts/messages.dialog.component.js"></script>
  <script src="/scripts/header.component.js"></script>
  <script src="/scripts/zeichenzaehler.component.js"></script>
  <script src="/scripts/kassenbuch/kassenbuch.posten.edit.dialog.component.js"></script>
  <script src="/scripts/kassenbuch/kassenbuch.header.component.js"></script>
  <script src="/scripts/kassenbuch/kassenbuch.js"></script>
</html>