<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Kassenbuch drucken - Computer-Insel Tools by Sita Geßner</title>
    <link rel="icon" href="/themes/icons/kasse.png">
    <link rel="stylesheet" href="/themes/css/kassenbuch.css">
    <script type="text/javascript" src="/scripts/vendor/vue.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/axios.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/moment.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/de.js"></script>
  </head>
  <body>
    <div id="kassenbuch-drucken">
      <h3>Kassenbericht vom {{ formatDate(entity.kassenbuch.datum) }}</h3>
      <table>
        <thead>
          <th style="width: 100px;">Datum</th>
          <th style="width: 200px;">Verwendungszweck</th>
          <th class="right" style="width: 100px;">Einnahmen</th>
          <th class="right" style="width: 100px;">Ausgaben</th>
          <th class="right" style="width: 100px;">Kassenbestand</th>
        </thead>
        <tbody>
          <tr>
            <td>{{ formatDate(entity.kassenbuch.datum) }}</td>
            <td>Ausgangsbetrag</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="right">{{ formatMoney(entity.kassenbuch.ausgangsbetrag) }} &euro;</td>
          </tr>
          <tr v-for="posten in entity.posten">
            <td>{{ formatDate(entity.kassenbuch.datum) }}</td>
            <td>{{ posten.verwendungszweck }}</td>
            <td class="right" v-if="posten.betrag > 0">{{ formatMoney(posten.betrag) }} &euro;</td>
            <td>&nbsp;</td>
            <td class="right" v-if="posten.betrag < 0">{{ formatMoney(posten.betrag) }} &euro;</td>
            <td class="right">{{ formatMoney(posten.gesamt) }} &euro;</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>&nbsp;</td>
            <td>Gesamtbetrag</td>
            <td class="right">{{ formatMoney(gesamtEinnahmen) }} &euro;</td>
            <td class="right">{{ formatMoney(gesamtAusgaben) }} &euro;</td>
            <td class="right">{{ formatMoney(gesamtEinnahmen - gesamtAusgaben) }} &euro;</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </body>
  <script src="/scripts/util.js"></script>
  <script src="/scripts/kassenbuch/kassenbuch-drucken.js"></script>
</html>