<html>
  <head>
    <title>Kassenbuch - Computer-Insel Tools by Sita Ge&szlig;ner</title>
    <link rel="icon" href="/themes/icons/kasse.png">
    <link rel="stylesheet" href="/themes/css/button.css">
    <link rel="stylesheet" href="/themes/css/dialog.css">
    <link rel="stylesheet" href="/themes/css/radio.css">
    <link rel="stylesheet" href="/themes/css/raster.css">
    <link rel="stylesheet" href="/themes/css/style.css">
    <script type="text/javascript" src="/scripts/vendor/vue.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/axios.min.js"></script>
  </head>
  <body>
    <div id="kassenbuch">
      <page-header></page-header>
      <page-header-kassenbuch v-bind:marker="'Kassenbuch'"></page-header-kassenbuch>
      <div id="content">
        <div class="form">
          <h1>Kassenbuch erstellen</h1>
          <div class="m2m">
            <label>Rechnungsdatum von</label>
            <input class="m2" type="date" v-model="model.zeitraumVon" />
          </div>
          <div class="m2">
            <label>Rechnungsdatum von</label>
            <input class="m2" type="date" v-model="model.zeitraumBis" />
          </div>
            <label>Kassenstand vom Vortag als Ausgangsbetrag f&uuml;r den</label>
          <div class="m1">
            <input class="m3m" type="number" step=".01" v-model="model.ausgangsbetrag" />
            <input class="m3" type="date" v-model="model.ausgangsbetragDatum" />
          </div>
          <div class="m1">
            <button class="right" title="Kassenbuch erstellen" v-on:click="erstellen">Kassenbuch erstellen</button>
            <button class="right" title="Erstelltes Kassenbuch anzeigen" v-on:click="anzeigen">Anzeigen</button>
          </div>
        </div>
        <h1>
          Kassenbuch bearbeiten
          <button class="add" title="Neue Eintragung erstellen" v-on:click="addEintragung"></button>
          <button class="ok" title="Alle Eintragungen speichern" v-if="manuell.eintragungen.length > 0" v-on:click="saveEintragungen"></button>
        </h1>
        <div class="form">
          <label>Zu bearbeitende CSV-Datei (mit Dateipfad)</label>
          <input class="m1" type="text" v-model="manuell.csvDatei" />
        </div>
        <div class="form" v-for="(eintragung, index) in manuell.eintragungen" v-bind:id="'eintrag_' + index">
          <div class="right">
            <button class="delete" title="Diese Eintragung l&ouml;schen" v-if="!manuell.eintragungen[index].gespeichert" v-on:click="removeEintragung(index)"></button>
          </div>
          <div class="m1">
            <label>Verwendungszweck</label>
            <input class="m1" type="text" v-model="manuell.eintragungen[index].verwendungszweck" v-bind:readonly="manuell.eintragungen[index].gespeichert" />
          </div>
          <br>
          <div class="m3m">
            <label>Eintragungsdatum</label>
            <input class="m3" type="date" v-model="manuell.eintragungen[index].datum" v-bind:readonly="manuell.eintragungen[index].gespeichert" />
          </div>
          <div class="m6">
            <label>&nbsp;</label><br>
            <label class="container">-
              <input id="eintragungsartAusgang" type="radio" value="-1" v-model="manuell.eintragungen[index].eintragungsart" v-name="'eintragungsart_' + index">
              <span class="checkmark"></span>
            </label>
            <label class="container">+
              <input id="eintragungsartEingang" type="radio" value="1" v-model="manuell.eintragungen[index].eintragungsart" v-name="'eintragungsart_' + index">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="m4">
            <label>Betrag</label>
            <input class="m4" type="number" step=".01" v-model="manuell.eintragungen[index].betrag" v-bind:readonly="manuell.eintragungen[index].gespeichert" />
          </div>
          <br>
        </div>
        <messages-box v-bind:text="result" v-if="showDialog" @close="showDialog = false"></messages-box>
      </div>
    </div>
  </body>
  <script src="/scripts/util.js"></script>
  <script src="/scripts/messages.dialog.component.js"></script>
  <script src="/scripts/header.component.js"></script>
  <script src="/scripts/kassenbuch/kassenbuch.header.component.js"></script>
  <script src="/scripts/kassenbuch/kassenbuch.js"></script>
</html>