<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Kategorien - Computer-Insel Tools by Sita Geßner</title>
    <link rel="icon" href="/themes/icons/inventar.png">
    <link rel="stylesheet" href="/themes/css/button.css">
    <link rel="stylesheet" href="/themes/css/dialog.css">
    <link rel="stylesheet" href="/themes/css/grid.css">
    <link rel="stylesheet" href="/themes/css/loading.css">
    <link rel="stylesheet" href="/themes/css/radio.css">
    <link rel="stylesheet" href="/themes/css/raster.css">
    <link rel="stylesheet" href="/themes/css/style.css">
    <link rel="stylesheet" href="/themes/css/tabs.css">
    <script type="text/javascript" src="/scripts/vendor/vue.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/axios.min.js"></script>
  </head>
  <body>
    <div id="kategorie">
      <page-header :marker="'Inventar'"></page-header>
      <page-header-inventar v-bind:marker="'Kategorien'"></page-header-inventar>
      <div id="content">
        <div class="form m1">
          <div class="m1">
            <label for="searchForm_bezeichnung">Bezeichnung</label>
            <input class="m1" id="searchForm_bezeichnung" type="text" v-model="grid.searchQuery.bezeichnung"></input>
          </div>
          <div class="m1">
            <button class="right" title="Suchen" v-on:click="grid.reload = true;">Suchen</button>
          </div>
        </div>
        <div style="height: 150px;"></div>
        <div id="gridDiv" v-if="grid.gridColumns.length > 0">
          <grid
            :actions="grid.actions"
            :clazz="'m1'"
            :columns="grid.gridColumns"
            :filter-key="grid.searchQuery"
            :rest-url="grid.restUrl"
            :reload="grid.reload"
            :search-query="grid.searchQuery"
            :sort="grid.sort"
            @reloaded="grid.reload = false"
          ></grid>
        </div>
      </div>
      <delete-dialog
        :title="deleteRow.title"
        :rest-url="deleteRow.restUrl"
        :id="deleteRow.id"
        v-if="showDeleteDialog"
        @close="showDeleteDialog = false"
        @deleted="handleDeleteResponse"
      ></delete-dialog>
      <edit-dialog
        :rest-url-get="editRow.restUrlGet"
        :rest-url-save="editRow.restUrlSave"
        :title="editRow.title"
        v-if="showEditDialog"
        @close="showEditDialog = false"
        @saved="handleEditResponse"
      ></edit-dialog>
      <messages-box v-bind:text="result" v-if="showDialog" @close="showDialog = false"></messages-box>
    </div>
  </body>
  <script src="/scripts/util.js"></script>
  <script src="/scripts/messages.dialog.component.js"></script>
  <script src="/scripts/delete.dialog.component.js"></script>
  <script src="/scripts/header.component.js"></script>
  <script src="/scripts/grid.component.js"></script>
  <script src="/scripts/zeichenzaehler.component.js"></script>
  <script src="/scripts/inventar/inventar.header.component.js"></script>
  <script src="/scripts/inventar/kategorie.edit.dialog.component.js"></script>
  <script src="/scripts/inventar/kategorie.js"></script>
</html>