<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Kunden - Computer-Insel Tools by Sita Geßner</title>
    <link rel="icon" href="/themes/icons/kunde.png">
    <link rel="stylesheet" href="/themes/css/button.css">
    <link rel="stylesheet" href="/themes/css/dialog.css">
    <link rel="stylesheet" href="/themes/css/grid.css">
    <link rel="stylesheet" href="/themes/css/loading.css">
    <link rel="stylesheet" href="/themes/css/radio.css">
    <link rel="stylesheet" href="/themes/css/raster.css">
    <link rel="stylesheet" href="/themes/css/style.css">
    <script type="text/javascript" src="/scripts/vendor/vue.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/axios.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/moment.min.js"></script>
  </head>
  <body>
    <div id="kunden">
      <page-header :marker="'Kunden'"></page-header>
      <div id="content">
        <div class="form m1">
          <div class="m1">
            <div class="m2m">
              <label for="searchForm_suchfeld_name">Name</label>
              <input class="m2" id="searchForm_suchfeld_name"
                title="Ermöglicht die Suche nach Firmenname, Vorname oder Nachname" type="text" v-model="grid.searchQuery.suchfeld_name"></input>
            </div>
            <div class="m6">
              <label for="searchForm_plz">PLZ</label>
              <input class="m6" id="searchForm_plz" type="text" v-model="grid.searchQuery.plz"></input>
            </div>
          </div>
          <div class="m1">
            <div class="m2 right">
              <button class="delete" title="Suchfelder leeren" v-on:click="grid.searchQuery = {}; grid.reload = true;"></button>
              <button class="right" title="Suchen" v-on:click="grid.reload = true;">Suchen</button>
            </div>
          </div>
        </div>
        <div style="height: 150px;"></div>
        <div id="gridDiv" v-if="grid.gridColumns.length > 0">
          <grid
            :actions="grid.actions"
            :columns="grid.gridColumns"
            :filter-key="grid.searchQuery"
            :rest-url="grid.restUrl"
            :reload="grid.reload"
            :search-query="grid.searchQuery"
            :size="100"
            :sort="grid.sort"
            @reloaded="grid.reload = false"
          ></grid>
        </div>
      </div>
      <kunde-suchen-dialog
        :kunde="duplicateRow.kunde"
        :dialog-titel="duplicateRow.title"
        v-if="showDuplicateDialog"
        @close="showDuplicateDialog = false"
        @saved="duplikateZusammenfuehren"
      ></kunde-suchen-dialog>
      <kunde-edit-dialog
        :rest-url-get="editRow.restUrlGet"
        :rest-url-save="editRow.restUrlSave"
        :title="editRow.title"
        v-if="showEditDialog"
        @close="showEditDialog = false"
        @saved="handleEditResponse"
      ></kunde-edit-dialog>
      <delete-dialog
        :title="deleteRow.title"
        :rest-url="deleteRow.restUrl"
        :id="deleteRow.id"
        v-if="showDeleteDialog"
        @close="showDeleteDialog = false"
        @deleted="handleDeleteResponse"
      ></delete-dialog>
      <messages-box v-bind:text="result" v-if="showDialog" @close="showDialog = false"></messages-box>
    </div>
  </body>
  <script src="/scripts/util.js"></script>
  <script src="/scripts/messages.dialog.component.js"></script>
  <script src="/scripts/header.component.js"></script>
  <script src="/scripts/grid.component.js"></script>
  <script src="/scripts/zeichenzaehler.component.js"></script>
  <script src="/scripts/delete.dialog.component.js"></script>
  <script src="/scripts/kunde/kunde.edit.dialog.component.js"></script>
  <script src="/scripts/kunde/kunde.suchen.dialog.component.js"></script>
  <script src="/scripts/kunde/kunden.js"></script>
</html>