<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Mitarbeiter - Computer-Insel Tools by Sita Geßner</title>
    <link rel="icon" href="/themes/icons/einstellungen.png">
    <link rel="stylesheet" href="/themes/css/button.css">
    <link rel="stylesheet" href="/themes/css/dialog.css">
    <link rel="stylesheet" href="/themes/css/grid.css">
    <link rel="stylesheet" href="/themes/css/loading.css">
    <link rel="stylesheet" href="/themes/css/radio.css">
    <link rel="stylesheet" href="/themes/css/raster.css">
    <link rel="stylesheet" href="/themes/css/style.css">
    <link rel="stylesheet" href="/themes/css/tabs.css">
    <script type="text/javascript" src="/scripts/vendor/vue.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/vue-i18n.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/axios.min.js"></script>
  </head>
  <body>
    <div id="mitarbeiterProfil">
      <page-header></page-header>
      <div id="content">
        <div class="tabbed">
          <input checked="checked" id="tab1" type="radio" name="tabs" />
          <input id="tab2" type="radio" name="tabs" />
          <input id="tab3" type="radio" name="tabs" />
        
          <nav>
            <label for="tab1">{{ $t("einstellung.profil.allgemein") }}</label>
            <label for="tab2">{{ $t("einstellung.profil.anmeldedaten") }}</label>
          </nav>
           
          <figure>
            <div class="tab1">
              <div class="m1">
                <div class="m2m">
                  <zeichenzaehler-label :elem="model.profildaten.nachname" :forid="'profildatenForm_name'" :label="$t('kunde.nachname')" :maxlength="'50'" :required="true"></zeichenzaehler-label>
                  <input class="m2" id="profildatenForm_name" maxlength="50" type="text" v-model="model.profildaten.nachname"></input>
                </div>
                <div class="m2">
                  <zeichenzaehler-label :elem="model.profildaten.vorname" :forid="'profildatenForm_vorname'" :label="$t('kunde.vorname')" :maxlength="'50'" :required="true"></zeichenzaehler-label>
                  <input class="m2" id="profildatenForm_vorname" maxlength="50" type="text" v-model="model.profildaten.vorname"></input>
                </div>
              </div>
              <div class="m1">
                <div class="m2m">
                  <zeichenzaehler-label :elem="model.profildaten.email" :forid="'profildatenForm_email'" :label="$t('einstellung.profil.emailGeschaeft')" :maxlength="'50'"></zeichenzaehler-label>
                  <input class="m2" id="profildatenForm_email" maxlength="50" type="text" v-model="model.profildaten.email"></input>
                </div>
                <div class="m2">
                  <zeichenzaehler-label :elem="model.profildaten.emailPrivat" :forid="'profildatenForm_email_privat'" :label="$t('einstellung.profil.emailPrivat')" :maxlength="'50'"></zeichenzaehler-label>
                  <input class="m2" id="profildatenForm_email_privat" maxlength="50" type="text" v-model="model.profildaten.emailPrivat"></input>
                </div>
              </div>
              <div class="m1">
                <div class="m2m">
                  <zeichenzaehler-label :elem="model.profildaten.telefon" :forid="'profildatenForm_telefon'" :label="$t('einstellung.profil.telefonPrivat')" :maxlength="'50'"></zeichenzaehler-label>
                  <input class="m2" id="profildatenForm_telefon" maxlength="50" type="text" v-model="model.profildaten.telefon"></input>
                </div>
              </div>
              <div class="m1">
                <div class="m2m">
                  <label class="required" for="profildatenForm_filiale">Filiale</label>
                  <select class="m2" id="profildatenForm_filiale" v-model="model.profildaten.filiale.id">
                    <option :value="f.key" v-for="f in filialen">{{f.value}}</option>
                  </select>
                </div>
              </div>
              <hr>
              <div class="m1">
                <label class="container checkbox">{{ $t("einstellung.profil.druckAnsichtNeuesFenster") }}
                  <input id="profildatenForm_druckansichtNeuesFenster" type="checkbox" v-model="model.profildaten.druckansichtNeuesFenster" />
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="m1">
                <label class="container checkbox">{{ $t("einstellung.profil.druckDialog") }}
                  <input id="profildatenForm_druckansichtDruckdialog" type="checkbox" v-model="model.profildaten.druckansichtDruckdialog" />
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="m1">
                <button class="right" :title="$t('general.speichern')" v-if="areRequiredFieldsNotEmptyProfildaten()" v-on:click="saveProfildatenFunc();">{{ $t("general.speichern") }}</button>
                <button class="right disabled" :title="$t('general.pflichtfelder')" v-if="!areRequiredFieldsNotEmptyProfildaten()">{{ $t("general.speichern") }}</button>
              </div>
            </div>

            <div class="tab2">
              <div class="m1">
                <div class="m2">
                  <zeichenzaehler-label :elem="model.anmeldedaten.username" :forid="'anmeldedatenForm_benutzername'" :label="$t('einstellung.benutzer')" :maxlength="'50'" :required="true"></zeichenzaehler-label>
                  <input class="m2" id="anmeldedatenForm_benutzername" maxlength="50" type="text" v-model="model.anmeldedaten.username" />
                </div>
              </div>
              <div class="m1">
                <div class="m2">
                  <label for="anmeldedatenForm_passwordBefore" class="required">{{ $t('einstellung.pw') }}</label>
                  <input class="m2" id="anmeldedatenForm_passwordBefore" type="password" v-model="model.anmeldedaten.passwordBefore" />
                </div>
              </div>
              <div class="m1">
                <div class="m2m">
                  <label for="anmeldedatenForm_password">{{ $t('einstellung.profil.neuesPw') }}</label>
                  <input class="m2" id="anmeldedatenForm_password" type="password" v-model="model.anmeldedaten.password" />
                </div>
                <div class="m2">
                  <label for="anmeldedatenForm_passwordRepeat">{{ $t('einstellung.profil.neuesPwWiederholen') }}</label>
                  <input class="m2" id="anmeldedatenForm_passwordRepeat" type="password" v-model="model.anmeldedaten.passwordRepeat" />
                </div>
              </div>
              <div class="m1">
                <button class="right" :title="$t('general.speichern')" v-if="areRequiredFieldsNotEmptyAnmeldedaten()" v-on:click="saveAnmeldedatenFunc();">{{ $t("general.speichern") }}</button>
                <button class="right disabled" :title="$t('general.pflichtfelder')" v-if="!areRequiredFieldsNotEmptyAnmeldedaten()">{{ $t("general.speichern") }}</button>
              </div>
            </div>
          </figure>
        </div>
      </div>
      <messages-box v-bind:text="result" v-if="showDialog" @close="showDialog = false"></messages-box>
    </div>
  </body>
  <script src="/scripts/util.js"></script>
  <script src="/scripts/i18n.js"></script>
  <script src="/scripts/messages.dialog.component.js"></script>
  <script src="/scripts/header.component.js"></script>
  <script src="/scripts/zeichenzaehler.component.js"></script>
  <script src="/scripts/einstellungen/mitarbeiter-profil.js"></script>
</html>