<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Mitarbeiter - Computer-Insel Tools by Sita Geßner</title>
    <link rel="icon" href="/themes/icons/einstellungen.png">
    <link rel="stylesheet" href="/themes/css/button.css">
    <link rel="stylesheet" href="/themes/css/dialog.css">
    <link rel="stylesheet" href="/themes/css/grid.css">
    <link rel="stylesheet" href="/themes/css/loading.css">
    <link rel="stylesheet" href="/themes/css/radio.css">
    <link rel="stylesheet" href="/themes/css/raster.css">
    <link rel="stylesheet" href="/themes/css/style.css">
    <link rel="stylesheet" href="/themes/css/tabs.css">
    <script type="text/javascript" src="/scripts/vendor/vue.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/axios.min.js"></script>
  </head>
  <body>
    <div id="mitarbeiterProfil">
      <page-header></page-header>
      <div id="content">
        <div class="tabbed">
          <input checked="checked" id="tab1" type="radio" name="tabs" />
          <input id="tab2" type="radio" name="tabs" />
          <input id="tab3" type="radio" name="tabs" />
        
          <nav>
            <label for="tab1">Allgemein</label>
            <label for="tab2">Anmeldedaten</label>
          </nav>
           
          <figure>
            <div class="tab1">
              <div class="m1">
                <div class="m2m">
                  <zeichenzaehler-label :elem="model.profildaten.nachname" :forid="'profildatenForm_name'" :label="'Nachname'" :maxlength="'50'" :required="true"></zeichenzaehler-label>
                  <input class="m2" id="profildatenForm_name" maxlength="50" type="text" v-model="model.profildaten.nachname"></input>
                </div>
                <div class="m2">
                  <zeichenzaehler-label :elem="model.profildaten.vorname" :forid="'profildatenForm_vorname'" :label="'Vorname'" :maxlength="'50'" :required="true"></zeichenzaehler-label>
                  <input class="m2" id="profildatenForm_vorname" maxlength="50" type="text" v-model="model.profildaten.vorname"></input>
                </div>
              </div>
              <div class="m1">
                <div class="m2m">
                  <zeichenzaehler-label :elem="model.profildaten.email" :forid="'profildatenForm_email'" :label="'E-Mail (geschäftlich)'" :maxlength="'50'"></zeichenzaehler-label>
                  <input class="m2" id="profildatenForm_email" maxlength="50" type="text" v-model="model.profildaten.email"></input>
                </div>
                <div class="m2">
                  <zeichenzaehler-label :elem="model.profildaten.emailPrivat" :forid="'profildatenForm_email_privat'" :label="'E-Mail (privat)'" :maxlength="'50'"></zeichenzaehler-label>
                  <input class="m2" id="profildatenForm_email_privat" maxlength="50" type="text" v-model="model.profildaten.emailPrivat"></input>
                </div>
              </div>
              <div class="m1">
                <div class="m2m">
                  <zeichenzaehler-label :elem="model.profildaten.telefon" :forid="'profildatenForm_telefon'" :label="'Telefon (privat)'" :maxlength="'50'"></zeichenzaehler-label>
                  <input class="m2" id="profildatenForm_telefon" maxlength="50" type="text" v-model="model.profildaten.telefon"></input>
                </div>
              </div>
              <div class="m1">
                <div class="m2m">
                  <label class="required" for="profildatenForm_filiale">Filiale</label>
                  <select class="m2" id="profildatenForm_filiale" v-model="model.profildaten.filiale.id">
                    <option :value="f.key" v-for="f in filialen">{{f.value}}</option>
                  </select>
                </div>
              </div>
              <div class="m1">
                <button class="right" title="Speichern" v-if="areRequiredFieldsNotEmptyProfildaten()" v-on:click="saveProfildatenFunc();">Speichern</button>
                <button class="right disabled" title="Bitte füllen Sie alle mit * gekennzeichneten Pflichtfelder aus." v-if="!areRequiredFieldsNotEmptyProfildaten()">Speichern</button>
              </div>
            </div>

            <div class="tab2">
              <div class="m1">
                <div class="m2">
                  <zeichenzaehler-label :elem="model.anmeldedaten.username" :forid="'anmeldedatenForm_benutzername'" :label="'Benutzername'" :maxlength="'50'" :required="true"></zeichenzaehler-label>
                  <input class="m2" id="anmeldedatenForm_benutzername" maxlength="50" type="text" v-model="model.anmeldedaten.username" />
                </div>
              </div>
              <div class="m1">
                <div class="m2">
                  <label for="anmeldedatenForm_passwordBefore" class="required">Passwort</label>
                  <input class="m2" id="anmeldedatenForm_passwordBefore" type="password" v-model="model.anmeldedaten.passwordBefore" />
                </div>
              </div>
              <div class="m1">
                <div class="m2m">
                  <label for="anmeldedatenForm_password">Neues Passwort</label>
                  <input class="m2" id="anmeldedatenForm_password" type="password" v-model="model.anmeldedaten.password" />
                </div>
                <div class="m2">
                  <label for="anmeldedatenForm_passwordRepeat">Neues Passwort wiederholen</label>
                  <input class="m2" id="anmeldedatenForm_passwordRepeat" type="password" v-model="model.anmeldedaten.passwordRepeat" />
                </div>
              </div>
              <div class="m1">
                <button class="right" title="Speichern" v-if="areRequiredFieldsNotEmptyAnmeldedaten()" v-on:click="saveAnmeldedatenFunc();">Speichern</button>
                <button class="right disabled" title="Bitte füllen Sie alle mit * gekennzeichneten Pflichtfelder aus." v-if="!areRequiredFieldsNotEmptyAnmeldedaten()">Speichern</button>
              </div>
            </div>
          </figure>
        </div>
      </div>
      <messages-box v-bind:text="result" v-if="showDialog" @close="showDialog = false"></messages-box>
    </div>
  </body>
  <script src="/scripts/util.js"></script>
  <script src="/scripts/messages.dialog.component.js"></script>
  <script src="/scripts/header.component.js"></script>
  <script src="/scripts/zeichenzaehler.component.js"></script>
  <script src="/scripts/einstellungen/mitarbeiter-profil.js"></script>
</html>