<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Inventar - Produkte - Computer-Insel Tools by Sita Geßner</title>
    <link rel="icon" href="/themes/icons/inventar.png">
    <link rel="stylesheet" href="/themes/css/button.css">
    <link rel="stylesheet" href="/themes/css/dialog.css">
    <link rel="stylesheet" href="/themes/css/general.css">
    <link rel="stylesheet" href="/themes/css/grid.css">
    <link rel="stylesheet" href="/themes/css/loading.css">
    <link rel="stylesheet" href="/themes/css/radio.css">
    <link rel="stylesheet" href="/themes/css/raster.css">
    <link rel="stylesheet" href="/themes/css/style.css">
    <link rel="stylesheet" href="/themes/css/tabs.css">
    <script type="text/javascript" src="/scripts/vendor/vue.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/vue-i18n.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/axios.min.js"></script>
  </head>
  <body>
    <div id="produkt" v-cloak>
      <page-header :marker="'Inventar'"></page-header>
      <page-header-inventar v-bind:marker="'Produkt'"></page-header-inventar>
      <div id="content">
        <div class="form m1">
          <div class="m1">
            <div class="m2m">
              <label for="searchForm_kategorie">{{ $t("inventar.produkt.kategorie") }}</label>
              <select class="m2" id="searchForm_kategorie" v-model="grid.searchQuery.kategorie" v-on:change="updateGruppen()" :readonly="grid.searchQuery.ean ? grid.searchQuery.ean.length > 0 : false">
                <option value=""></option>
                <option :value="k.key" v-for="k in kategorien">{{k.value}}</option>
              </select>
            </div>
            <div class="m2">
              <label for="searchForm_gruppe">{{ $t("inventar.produkt.gruppe") }}</label>
              <select class="m2" id="searchForm_gruppe" v-model="grid.searchQuery.gruppe" :readonly="grid.searchQuery.ean ? grid.searchQuery.ean.length > 0 : false">
                <option value=""></option>
                <option :value="g.key" v-for="g in gruppen">{{g.value}}</option>
              </select>
            </div>
          </div>
          <div class="m1">
            <div class="m2m">
              <label for="searchForm_bezeichnung">{{ $t("general.bezeichnung") }}</label>
              <input class="m2" id="searchForm_bezeichnung" type="text" v-model="grid.searchQuery.bezeichnung" :readonly="grid.searchQuery.ean ? grid.searchQuery.ean.length > 0 : false" ></input>
            </div>
            <div class="m2">
              <label for="searchForm_hersteller">{{ $t("inventar.produkt.hersteller") }}</label>
              <input class="m2" id="searchForm_hersteller" type="text" v-model="grid.searchQuery.hersteller" :readonly="grid.searchQuery.ean ? grid.searchQuery.ean.length > 0 : false" ></input>
            </div>
          </div>
          <hr>
          <div class="m1">
            <div class="m2m">
              <label for="searchForm_ean">{{ $t("inventar.produkt.ean") }}</label>
              <input class="m2" id="searchForm_ean" type="text" v-model="grid.searchQuery.ean" onclick="this.select()" />
            </div>
          </div>
          <div class="m1">
            <label class="container checkbox">{{ $t("inventar.produkt.schnellerfassung") }}
              <input id="searchForm_schnellerfassung" type="checkbox" v-model="grid.searchQuery.schnellerfassung" />
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="m1">
            <div class="m2m">
              <label class="container checkbox">{{ $t("inventar.produkt.sortierung") }}
                <input id="searchForm_sortierung" type="checkbox" v-model="grid.searchQuery.sortierung" v-on:change="saveSearchQuerySortierung" />
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="m2 right">
              <button class="delete" :title="$t('general.suchfelderLeeren')" v-on:click="grid.searchQuery = {}; grid.reload = true;"></button>
              <button class="right" :title="$t('general.suchen')" v-on:click="grid.reload = true;">{{ $t("general.suchen") }}</button>
            </div>
          </div>
        </div>
        <div style="height: 290px;"></div>
        <div id="gridDiv" v-if="grid.gridColumns.length > 0">
          <grid
            :actions="grid.actions"
            :columns="grid.gridColumns"
            :filter-key="grid.searchQuery"
            :rest-url="grid.restUrl"
            :reload="grid.reload"
            :search-query="grid.searchQuery"
            :size="100"
            :sort="grid.sort"
            @reloaded="grid.reload = false;"
          ></grid>
        </div>
      </div>
      <delete-dialog
        :title="deleteRow.title"
        :rest-url="deleteRow.restUrl"
        :id="deleteRow.id"
        v-if="showDeleteDialog"
        @close="showDeleteDialog = false"
        @deleted="handleDeleteResponse"
      ></delete-dialog>
      <edit-dialog
        :duplicate="editRow.duplicate"
        :rest-url-get="editRow.restUrlGet"
        :rest-url-save="editRow.restUrlSave"
        :title="editRow.title"
        v-if="showEditDialog"
        @close="showEditDialog = false"
        @saved="handleEditResponse"
      ></edit-dialog>
      <messages-box v-bind:text="result" v-if="showDialog" @close="showDialog = false"></messages-box>
    </div>
  </body>
  <script src="/scripts/util.js"></script>
  <script src="/scripts/i18n.js"></script>
  <script src="/scripts/localstorage.service.js"></script>
  <script src="/scripts/messages.dialog.component.js"></script>
  <script src="/scripts/delete.dialog.component.js"></script>
  <script src="/scripts/header.component.js"></script>
  <script src="/scripts/grid.component.js"></script>
  <script src="/scripts/zeichenzaehler.component.js"></script>
  <script src="/scripts/inventar/inventar.header.component.js"></script>
  <script src="/scripts/inventar/produkt.edit.dialog.component.js"></script>
  <script src="/scripts/inventar/produkt.js"></script>
</html>