<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Übersicht Rechnungen - Computer-Insel Tools by Sita Geßner</title>
    <link rel="icon" href="/themes/icons/rechnung.png">
    <link rel="stylesheet" href="/themes/css/button.css">
    <link rel="stylesheet" href="/themes/css/dialog.css">
    <link rel="stylesheet" href="/themes/css/grid.css">
    <link rel="stylesheet" href="/themes/css/loading.css">
    <link rel="stylesheet" href="/themes/css/radio.css">
    <link rel="stylesheet" href="/themes/css/raster.css">
    <link rel="stylesheet" href="/themes/css/style.css">
    <link rel="stylesheet" href="/themes/css/tabs.css">
    <script type="text/javascript" src="/scripts/vendor/vue.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/axios.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/moment.min.js"></script>
  </head>
  <body>
    <div id="rechnungen">
      <page-header :marker="'Rechnungen'"></page-header>
      <page-header-rechnung v-bind:marker="'Rechnungen'"></page-header-rechnung>
      <div id="content">
        <div class="form m1" v-if="kundeId === null">
          <div class="m1">
            <div class="m6m">
              <label for="searchForm_nummer">Rechn.-Nr.</label>
              <input class="m6" id="searchForm_nummer" type="text" v-model="grid.searchQuery.nummer"></input>
            </div>
            <div class="m6m">
              <label for="searchForm_reparatur_nummer">Rep.-Nr.</label>
              <input class="m6" id="searchForm_reparatur_nummer" type="text" v-model="grid.searchQuery.reparaturnummer"></input>
            </div>
            <div class="m6m">
              <label for="searchForm_kunde_nummer">Kd.-Nr.</label>
              <input class="m6" id="searchForm_kunde_nummer" type="text" v-model="grid.searchQuery.kundenummer"></input>
            </div>
          </div>
          <div class="m1">
            <div class="m2m">
              <label for="searchForm_ersteller">Ersteller</label>
              <input class="m2" id="searchForm_ersteller" type="text" v-model="grid.searchQuery.ersteller"></input>
            </div>
          </div>
          <div class="m1">
            <label class="container checkbox">Nur nicht bezahlte Rechnungen anzeigen
              <input id="searchForm_bezahlt" type="checkbox" v-model="grid.searchQuery.bezahlt" />
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="m1">
            <button class="right" title="Suchen" v-on:click="grid.reload = true;">Suchen</button>
          </div>
        </div>
        <div style="height: 250px;" v-if="kundeId === null"></div>
        <h3 v-if="kundeId !== null">Rechnungen zum gewählten Kunden:</h3>
        <div id="gridDiv" v-if="grid.gridColumns.length > 0">
          <grid
            :columns="grid.gridColumns"
            :filter-key="grid.searchQuery"
            :rest-url="grid.restUrl"
            :reload="grid.reload"
            :search-query="grid.searchQuery"
            :sort="grid.sort"
            :sortorder="grid.sortorder"
            @reloaded="grid.reload = false"
          ></grid>
        </div>
      </div>
      <confirm-dialog
        :func="confirmDialog.func"
        :params="confirmDialog.params"
        :text="confirmDialog.text"
        :title="confirmDialog.title"
        v-if="showConfirmDialog"
        @close="showConfirmDialog = false"
        @confirmed="handleConfirmResponse"
      ></confirm-dialog>
      <edit-dialog
        :rest-url-get="editRow.restUrlGet"
        :rest-url-save="editRow.restUrlSave"
        :title="editRow.title"
        v-if="showEditDialog"
        @close="showEditDialog = false"
        @saved="handleEditResponse"
      ></edit-dialog>
      <delete-dialog
        :title="deleteRow.title"
        :rest-url="deleteRow.restUrl"
        :id="deleteRow.id"
        v-if="showDeleteDialog"
        @close="showDeleteDialog = false"
        @deleted="handleDeleteResponse"
      ></delete-dialog>
      <rechnung-versenden-dialog
        :row="versendenDialog.row"
        v-if="showVersendenDialog"
        @close="showVersendenDialog = false"
        @sended="handleSendResponse"
      ></rechnung-versenden-dialog>
      <messages-box v-bind:text="result" v-if="showDialog" @close="showDialog = false"></messages-box>
    </div>
  </body>
  <script src="/scripts/util.js"></script>
  <script src="/scripts/messages.dialog.component.js"></script>
  <script src="/scripts/confirm.dialog.component.js"></script>
  <script src="/scripts/header.component.js"></script>
  <script src="/scripts/grid.component.js"></script>
  <script src="/scripts/zeichenzaehler.component.js"></script>
  <script src="/scripts/delete.dialog.component.js"></script>
  <script src="/scripts/reparatur/reparatur.suchen.dialog.component.js"></script>
  <script src="/scripts/kunde/kunde.suchen.dialog.component.js"></script>
  <script src="/scripts/kunde/kunde.edit.dialog.component.js"></script>
  <script src="/scripts/rechnung/rechnungsposten.edit.dialog.component.js"></script>
  <script src="/scripts/rechnung/rechnung.versenden.dialog.component.js"></script>
  <script src="/scripts/rechnung/rechnung.edit.dialog.component.js"></script>
  <script src="/scripts/rechnung/rechnung.header.component.js"></script>
  <script src="/scripts/rechnung/rechnung.uebersicht.js"></script>
</html>