<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Rechnung drucken - Computer-Insel Tools by Sita Geßner</title>
    <link rel="icon" href="/themes/icons/rechnung.png">
    <link rel="stylesheet" href="/themes/css/rechnung.css">
    <script type="text/javascript" src="/scripts/vendor/vue.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/axios.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/moment.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/de.js"></script>
  </head>
  <body>
    <div id="rechnung-drucken">
    <div v-for="item in exemplare">
      <header style="page-break-before: always;">
        <div class="center" style="width: 250px; height: 90px;">
          <img src="/themes/icons/logo.png" width="250" height="90">
        </div>
        <div class="center">
          Computer-Insel GbR
          <br>
          Gesellschafter: Stefan Weiske, Peer Dernoscheck
        </div>
        <br>
        <div class="mFull">
          <span class="left">{{entity.rechnung.filiale.strasse}}, {{entity.rechnung.filiale.plz}} {{entity.rechnung.filiale.ort}}</span>
          <br>
          <span class="left">Tel: {{entity.rechnung.filiale.telefon}}</span>
          <span class="right">Internet: www.computer-insel.net</span>
          <br>
          <span class="left">Steuernr.: 232/167/37105</span>
          <span class="right">Email: {{entity.rechnung.filiale.email}}</span>
        </div>
        <br>
        <br>
        <div class="center">
          Verkauf von Neu- und Gebrauchtware. Hardware, Software, Zubehör, Reparatur, Beratung, Service
        </div>
        <hr class="header">
      </header>
      <header>
        <div class="font15" v-if="entity.rechnung.kunde && entity.rechnung.nameDrucken" style="width: 350px;">
          <span v-if="entity.rechnung.kunde.firmenname">{{entity.rechnung.kunde.firmenname}}<br></span>
          <span v-if="entity.rechnung.kunde.nachname && entity.rechnung.nameDruckenBeiFirma"><span v-if="entity.rechnung.kunde.akademischerTitel">{{entity.rechnung.kunde.akademischerTitel}} </span>{{entity.rechnung.kunde.vorname}} {{entity.rechnung.kunde.nachname}}<br></span>
          {{entity.rechnung.kunde.strasse}}
          <br>
          {{entity.rechnung.kunde.plz}} {{entity.rechnung.kunde.ort}}
        </div>
        <div v-if="!entity.rechnung.kunde || !entity.rechnung.nameDrucken" style="height: 70px;">&nbsp;</div>
        <br>
        <br>
        <br>
        <br>
        <div class="rechnungHeader">
          Rechnung <span v-if="entity.rechnung.reparatur"> zum Auftrag {{entity.rechnung.reparatur.filiale.kuerzel}}{{entity.rechnung.reparatur.nummer}}</span><span v-if="entity.rechnung.bestellung"> zur Bestellung {{entity.rechnung.bestellung.filiale.kuerzel}}{{entity.rechnung.bestellung.nummerAnzeige}}</span>
        </div>
        <br>
        <div class="rechnungNummer">
          <span class="left">Rechnungsnummer: {{entity.rechnung.filiale.kuerzel}}{{entity.rechnung.nummerAnzeige}}</span>
          <span class="right">Rechnungsdatum: {{entity.rechnung.datum}}</span>
        </div>
        <br>
        <br>
      </header>
      <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;" bordercolor="#111111" width="685" height="77">
        <tr>
          <td width="75" align="center" style="border-bottom-style: solid; border-bottom-width: 1" height="19">
            <p align="center"><font face="Arial" style="font-size: 11pt"><i><b>Menge</b></i></font>
          </td>
          <td width="587" style="border-bottom-style: solid; border-bottom-width: 1" align="center" height="19">
            <p align="center"><font face="Arial" style="font-size: 11pt"><i><b>Produkt</b></i></font>
          </td>
          <td width="100" style="border-bottom-style: solid; border-bottom-width: 1" align="right" height="19">
            <p align="right"><font face="Arial" style="font-size: 11pt"><i><b>Preis</b></i></font>
          </td>
          <td width="116" style="border-bottom-style: solid; border-bottom-width: 1" align="right" height="19">
            <b><i><font face="Arial" style="font-size: 11pt" v-if="gesamtrabatt !== 0.00">Rabatt</font></i></b>
          </td>
          <td width="116" style="border-bottom-style: solid; border-bottom-width: 1" align="right" height="19">
            <font face="Arial" style="font-size: 11pt"><i><b>Gesamt</b></i></font>
          </td>
        </tr>
        <tr>
          <td width="75" align="center" style="border-top-style: solid; border-top-width: 1" height="20">&nbsp;</td>
          <td width="587" style="border-top-style: solid; border-top-width: 1" align="center" height="20">&nbsp;</td>
          <td width="100" style="border-top-style: solid; border-top-width: 1" align="right" height="20">&nbsp;</td>
          <td width="116" style="border-top-style: solid; border-top-width: 1" align="right" height="20">&nbsp;</td>
          <td width="116" style="border-top-style: solid; border-top-width: 1" align="right" height="20">&nbsp;</td>
        </tr>
        <tr v-for="posten in entity.posten">
          <td width="75" align="center" height="23" valign="top"><font face="Arial" style="font-size: 9pt">{{posten.menge}}</font></td>
          <td width="587" align="center" height="23" valign="top"><font face="Arial" style="font-size: 9pt">{{posten.bezeichnung}} <span v-if="posten.seriennummer">SN: {{posten.seriennummer}}</span> <span v-if="posten.hinweis">({{posten.hinweis}})</span></font></td>
          <td width="100" align="right" height="23" valign="top"><font face="Arial" style="font-size: 9pt">{{ formatMoney(posten.preis) }} &euro;</font></td>
          <td width="116" align="right" height="23" valign="top"><font face="Arial" style="font-size: 9pt" v-if="gesamtrabatt !== 0.00">{{ formatMoney(posten.rabatt) }} &euro;</font></td>
          <td width="116" align="right" height="23" valign="top"><font face="Arial" style="font-size: 9pt">{{ formatMoney(posten.gesamt) }} &euro;</font></td>
        </tr>
        <tr>
          <td width="75" align="center" valign="top" height="1"></td>
          <td width="587" align="center" valign="top" height="1"></td>
          <td width="100" align="right" valign="top" height="1"></td>
          <td width="116" align="right" valign="top" height="1"></td>
          <td width="116" align="right" valign="top" height="1"></td>
        </tr>
        <tr>
          <td width="75" align="center" valign="top" height="19">&nbsp;</td>
          <td width="587" align="center" valign="top" height="19" style="border-right-style: none; border-right-width: medium">&nbsp;</td>
          <td width="100" align="right" valign="top" height="20" style="border-left-style: none; border-left-width: medium; border-right-style: none; border-right-width: medium; border-top-style: solid; border-top-width: 1; border-bottom-style: solid; border-bottom-width: 1">
            &nbsp;
          </td>
          <td width="116" align="right" valign="top" height="20" style="border-left-style: none; border-left-width: medium; border-right-style: none; border-right-width: medium; border-top-style: solid; border-top-width: 1; border-bottom-style: solid; border-bottom-width: 1">
            <span style="font-weight: 700"><font face="Arial" size="2">Rechnungsbetrag</font>
          </td>
          <td width="116" align="right" valign="top" height="20" style="border-left-style: none; border-left-width: medium; border-right-style: none; border-right-width: medium; border-top-style: solid; border-top-width: 1; border-bottom-style: solid; border-bottom-width: 1">
            <span style="font-weight: 700">
              <font face="Arial" size="2">{{ formatMoney(gesamtsumme) }} &euro;</font>
          </td>
        </tr>
        <tr>
        <td width="75" align="center" valign="top" height="19">&nbsp;</td>
        <td width="587" align="center" valign="top" height="19" style="border-right-style: none; border-right-width: medium">&nbsp;</td>
        <td width="216" align="right" valign="top" height="20" style="border-style:none; border-width:medium; " colspan="2">
        <font face="Arial" style="font-size: 9pt">Nettosumme</font></td>
        <td width="116" align="right" valign="top" height="20" style="border-style:none; border-width:medium; ">
        <font face="Arial" style="font-size: 9pt">{{ formatMoney(gesamtnetto) }} &euro;</font></td>
        </tr>
        <tr>
        <td width="75" align="center" valign="top" height="19">&nbsp;</td>
        <td width="587" align="center" valign="top" height="19" style="border-right-style: none; border-right-width: medium">&nbsp;</td>
        <td width="216" align="right" valign="top" height="20" style="border-left-style: none; border-left-width: medium; border-right-style: none; border-right-width: medium; border-top-style: none; border-top-width: medium; border-bottom-style: solid; border-bottom-width: 1" colspan="2">
        <font face="Arial" style="font-size: 9pt">enth. MwSt. (19%):</font></span></td>
        <td width="116" align="right" valign="top" height="20" style="border-left-style: none; border-left-width: medium; border-right-style: none; border-right-width: medium; border-top-style: none; border-top-width: medium; border-bottom-style: solid; border-bottom-width: 1">
        <font face="Arial" style="font-size: 9pt">{{ formatMoney(gesamtmwst) }} &euro;</font></td>
        </tr>
      </table>
      <br>
      <div class="left" style="width: 100%">
        Zahlungsart: {{art}}<span v-if="art === 'ÜBERWEISUNG'">, zahlbar ohne Abzüge innerhalb von 7 Tagen.</span>
        <span v-if="art === 'BAR'"> (Betrag in Bar erhalten)</span>
        <br>
        <br>
        <span v-if="entity.rechnung.lieferdatum">Lieferdatum: {{entity.rechnung.lieferdatum}}</span>
        <span v-if="!entity.rechnung.lieferdatum">Rechnungsdatum entspricht Lieferdatum!</span>
      </div>
      <footer style="background-color: white; z-index: 999;">
        <div class="center">
          <br>
          Besuchen Sie uns auch in unserer Filiale in {{entity.rechnung.filiale.rechnungTextAndereFiliale}}.
          <br>
          <br>
          <br>
          Firmensitz: Marktstraße 10, 04177 Leipzig
          <br>
          Bankverbindung: Computer-Insel GbR . Commerzbank Leipzig . IBAN: DE50 8604 0000 0521 6668 00
        </div>
      </footer>
    </div>
    </div>
  </body>
  <script src="/scripts/util.js"></script>
  <script src="/scripts/messages.dialog.component.js"></script>
  <script src="/scripts/rechnung/rechnung-drucken.js"></script>
</html>