<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Übersicht Reparaturen - Computer-Insel Tools by Sita Geßner</title>
    <link rel="icon" href="/themes/icons/zahnrad.png">
    <link rel="stylesheet" href="/themes/css/button.css">
    <link rel="stylesheet" href="/themes/css/dialog.css">
    <link rel="stylesheet" href="/themes/css/general.css">
    <link rel="stylesheet" href="/themes/css/grid.css">
    <link rel="stylesheet" href="/themes/css/loading.css">
    <link rel="stylesheet" href="/themes/css/radio.css">
    <link rel="stylesheet" href="/themes/css/raster.css">
    <link rel="stylesheet" href="/themes/css/style.css">
    <link rel="stylesheet" href="/themes/css/tabs.css">
    <script type="text/javascript" src="/scripts/vendor/vue.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/vue-i18n.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/axios.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/moment.min.js"></script>
  </head>
  <body>
    <div id="reparaturen" v-cloak>
      <page-header :marker="'Reparaturen'"></page-header>
      <page-header-reparatur v-bind:marker="'Reparaturen'"></page-header-reparatur>
      <div id="content">
        <div class="form m1" v-if="kundeId === null">
          <div class="m6m">
            <label for="searchForm_nummer">{{ $t("reparatur.repNr") }}</label>
            <input class="m6" id="searchForm_nummer" type="text" v-model="grid.searchQuery.nummer"></input>
          </div>
          <div class="m6m">
            <label for="searchForm_kundennummer">{{ $t("kunde.kdNr") }}</label>
            <input class="m6" id="searchForm_kundennummer" type="text" v-model="grid.searchQuery.kundennummer"></input>
          </div>
          <div class="m2m">
            <label for="searchForm_suchfeld_name">{{ $t("general.kunde") }}</label>
            <input class="m2" id="searchForm_suchfeld_name" :title="$t('general.suchfeldKunde')"
              type="text" v-model="grid.searchQuery.suchfeld_name"></input>
          </div>
          <div class="m1">
             <label class="container checkbox">{{ $t("reparatur.nichtErledigt") }}
              <input id="searchForm_erledigt" type="checkbox" v-model="grid.searchQuery.erledigt" />
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="m1">
            <div class="m2 right">
              <button class="delete" :title="$t('general.suchfelderLeeren')" v-on:click="grid.searchQuery = {}; grid.reload = true;"></button>
              <button class="right" :title="$t('general.suchen')" v-on:click="grid.reload = true;">{{ $t("general.suchen") }}</button>
            </div>
          </div>
        </div>
        <div style="height: 200px;" v-if="kundeId === null"></div>
        <h3 v-if="kundeId !== null">{{  $t("reparatur.reparaturauftraege") }} {{  $t("general.zumGewaehltenKunden") }}:</h3>
        <div id="gridDiv" v-if="grid.gridColumns.length > 0">
          <grid
            :columns="grid.gridColumns"
            :filter-key="grid.searchQuery"
            :rest-url="grid.restUrl"
            :reload="grid.reload"
            :search-query="grid.searchQuery"
            :size="100"
            :sort="grid.sort"
            :sortorder="grid.sortorder"
            @reloaded="grid.reload = false"
          ></grid>
        </div>
      </div>
      <confirm-dialog
        :func="confirmDialog.func"
        :params="confirmDialog.params"
        :text="confirmDialog.text"
        :title="confirmDialog.title"
        v-if="showConfirmDialog"
        @close="showConfirmDialog = false"
        @confirmed="handleConfirmResponse"
      ></confirm-dialog>
      <edit-dialog
        :rest-url-get="editRow.restUrlGet"
        :rest-url-save="editRow.restUrlSave"
        :title="editRow.title"
        v-if="showEditDialog"
        @close="showEditDialog = false"
        @saved="handleEditResponse"
      ></edit-dialog>
      <delete-dialog
        :title="deleteRow.title"
        :rest-url="deleteRow.restUrl"
        :id="deleteRow.id"
        v-if="showDeleteDialog"
        @close="showDeleteDialog = false"
        @deleted="handleDeleteResponse"
      ></delete-dialog>
      <reparatur-versenden-dialog
        :row="versendenDialog.row"
        v-if="showVersendenDialog"
        @close="showVersendenDialog = false"
        @sended="handleSendResponse"
      ></reparatur-versenden-dialog>
      <messages-box v-bind:text="result" v-if="showDialog" @close="showDialog = false"></messages-box>
    </div>
  </body>
  <script src="/scripts/util.js"></script>
  <script src="/scripts/i18n.js"></script>
  <script src="/scripts/messages.dialog.component.js"></script>
  <script src="/scripts/confirm.dialog.component.js"></script>
  <script src="/scripts/header.component.js"></script>
  <script src="/scripts/grid.component.js"></script>
  <script src="/scripts/zeichenzaehler.component.js"></script>
  <script src="/scripts/delete.dialog.component.js"></script>
  <script src="/scripts/bestellung/bestellung.suchen.dialog.component.js"></script>
  <script src="/scripts/kunde/kunde.suchen.dialog.component.js"></script>
  <script src="/scripts/kunde/kunde.edit.dialog.component.js"></script>
  <script src="/scripts/reparatur/reparatur.versenden.dialog.component.js"></script>
  <script src="/scripts/reparatur/reparatur.edit.dialog.component.js"></script>
  <script src="/scripts/reparatur/reparatur.header.component.js"></script>
  <script src="/scripts/reparatur/reparatur.uebersicht.js"></script>
</html>