<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Reparaturen - Computer-Insel Tools by Sita Geßner</title>
    <link rel="icon" href="/themes/icons/zahnrad.png">
    <link rel="stylesheet" href="/themes/css/button.css">
    <link rel="stylesheet" href="/themes/css/dialog.css">
    <link rel="stylesheet" href="/themes/css/grid.css">
    <link rel="stylesheet" href="/themes/css/loading.css">
    <link rel="stylesheet" href="/themes/css/radio.css">
    <link rel="stylesheet" href="/themes/css/raster.css">
    <link rel="stylesheet" href="/themes/css/style.css">
    <link rel="stylesheet" href="/themes/css/tabs.css">
    <script type="text/javascript" src="/scripts/vendor/vue.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/vue-i18n.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/axios.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/moment.min.js"></script>
  </head>
  <body>
    <div id="reparaturErstellen">
      <page-header :marker="'Reparaturen'"></page-header>
      <page-header-reparatur v-bind:marker="'Erstellen'"></page-header-reparatur>
      <div id="content">
        <div class="form m1">
          <ersteller-select
            :reset="resetErsteller"
            @changed="setMitarbeiter"
            @resetted="resetErsteller = false;"
          ></ersteller-select>
          <div class="m1">
            <label class="container radio" v-for="art in reparaturarten">
              <input
                name="art"
                type="radio"
                :value="art.key"
                v-model="entity.art"
              >{{art.value}}</input>
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="m1">
            <zeichenzaehler-label :elem="entity.geraet" :forid="'reparaturEditForm_geraet'" :label="$t('reparatur.geraet')" :maxlength="'500'" :required="true"></zeichenzaehler-label>
            <input class="m1" id="reparaturEditForm_geraet" maxlength="500" type="text" v-model="entity.geraet"></input>
          </div>
          <div class="m1">
            <zeichenzaehler-label :elem="entity.seriennummer" :forid="'reparaturEditForm_seriennummer'" :label="$t('reparatur.seriennummer')" :maxlength="'500'"></zeichenzaehler-label>
            <input class="m1" id="reparaturEditForm_seriennummer" maxlength="500" type="text" v-model="entity.seriennummer"></input>
          </div>
          <div class="m1">
            <zeichenzaehler-label :elem="entity.symptome" :forid="'reparaturEditForm_symptome'" :label="$t('reparatur.symptomeFehler')" :maxlength="'1000'"></zeichenzaehler-label>
            <textarea class="m1" id="reparaturEditForm_symptome" maxlength="1000" v-model="entity.symptome"></textarea>
          </div>
          <div class="m1">
            <zeichenzaehler-label :elem="entity.aufgaben" :forid="'reparaturEditForm_aufgaben'" :label="$t('reparatur.aufgaben')" :maxlength="'1000'"></zeichenzaehler-label>
            <textarea class="m1" id="reparaturEditForm_aufgaben" maxlength="1000" v-model="entity.aufgaben"></textarea>
          </div>
          <div class="m1">
            <label class="container radio" v-for="art in geraetepasswortarten">
              <input
                name="geraetepasswortart"
                type="radio"
                :value="art.key"
                v-model="entity.geraetepasswortArt"
                v-on:change="setGeraetepasswort();"
              >{{art.value}}</input>
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="m1">
            <div class="m2">
              <zeichenzaehler-label :elem="entity.geraetepasswort" :forid="'reparaturEditForm_geraetepasswort'" :label="$t('reparatur.pw')" :maxlength="'50'" :required="true"></zeichenzaehler-label>
              <input class="m2" id="reparaturEditForm_geraetepasswort" maxlength="50" type="text" v-model="entity.geraetepasswort" :readonly="entity.geraetepasswortArt !== 0"></input>
            </div>
          </div>
          <div class="m1" v-if="entity.bestellung">
            <label for="reparaturEditForm_bestellung">{{ $t("bestellung.titelK") }}</label>
            <button class="bestellung btnSmall" :title="$t('bestellung.suchen')" @click="showBestellungDialog = true"></button>
            <button class="delete btnSmall" :title="$t('bestellung.deselektieren')" @click="entity.bestellung = {}"></button>
            <textarea class="m1" id="reparaturEditForm_bestellung" readonly v-model="entity.bestellung.beschreibung"></textarea>
          </div>
          <div class="m1" v-if="entity.kunde">
            <label for="reparaturEditForm_kunde">{{ $t("general.kunde") }}</label><button class="kunde btnSmall" :title="$t('kunde.suchen')" @click="showKundeDialog = true"></button>
            <textarea class="m1" id="reparaturEditForm_kunde" readonly v-model="entity.kunde.completeWithAdressAndPhone"></textarea>
          </div>
          <div class="m1">
            <label class="container checkbox">{{ $t("reparatur.express") }}
              <input id="reparaturEditForm_expressbearbeitung" type="checkbox" v-model="entity.expressbearbeitung" v-on:change="editKostenvoranschlag(); changeAbholdatumZeit();" />
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="m1">
            <div class="m4m">
              <label for="reparaturEditForm_abholdatum">{{ $t("reparatur.abholdatum") }}</label>
              <input class="m4" id="reparaturEditForm_abholdatum" type="date" v-model="entity.abholdatum" v-on:change="wochentagabholdatum = formatDayOfWeek(entity.abholdatum);"/>
            </div>
            <div class="m4m">
              <label for="reparaturEditForm_wochentag_abholdatum">{{ $t("general.wochentag") }}</label>
              <input class="m4" id="reparaturEditForm_wochentag_abholdatum" readonly type="text" v-model="wochentagabholdatum" />
            </div>
            <div class="m2">
              <label for="reparaturEditForm_abholzeit">{{ $t("reparatur.abholzeit") }}</label>
              <input class="m2" id="reparaturEditForm_abholzeit" max="19:00" min="9:00" type="time" v-model="entity.abholzeit" />
            </div>
          </div>
          <div class="m1">
            <zeichenzaehler-label :elem="entity.kostenvoranschlag" :forid="'reparaturEditForm_kostenvoranschlag'" :label="$t('reparatur.kostenvoranschlag')" :maxlength="'300'" :required="true"></zeichenzaehler-label>
            <input class="m1" id="reparaturEditForm_kostenvoranschlag" maxlength="300" type="text" v-model="entity.kostenvoranschlag"></input>
          </div>
          <div class="m1">
            <label class="container radio" v-for="status in pruefstatus">
              <input
                name="status"
                type="radio"
                :value="status.key"
                v-model="entity.funktionsfaehig"
              >{{status.value}}</input>
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="m1">
            <zeichenzaehler-label :elem="entity.bemerkung" :forid="'reparaturEditForm_bemerkung'" :label="$t('general.bemerkung')" :maxlength="'4000'"></zeichenzaehler-label>
            <textarea class="m1" id="reparaturEditForm_bemerkung" maxlength="4000" v-model="entity.bemerkung"></textarea>
          </div>
          <button class="right" :title="$t('general.speichern')" v-if="areRequiredFieldsNotEmpty()" v-on:click="saveFunc();">{{ $t("general.speichern") }}</button>
          <button class="right disabled" :title="$t('general.pflichtfelder')" v-if="!areRequiredFieldsNotEmpty()">{{ $t("general.speichern") }}</button>
        </div>
      </div>
      <messages-box v-bind:text="result" v-if="showDialog" @close="showDialog = false"></messages-box>
      <bestellung-suchen-dialog
        :bestellung="entity.bestellung"
        :kunde="entity.kunde"
        v-if="showBestellungDialog"
        @close="showBestellungDialog = false"
        @saved="handleBestellungResponse"
      ></bestellung-suchen-dialog>
      <kunde-suchen-dialog
        :kunde="entity.kunde"
        v-if="showKundeDialog"
        @close="showKundeDialog = false"
        @saved="handleKundeResponse"
      ></kunde-suchen-dialog>
    </div>
  </body>
  <script src="/scripts/util.js"></script>
  <script src="/scripts/i18n.js"></script>
  <script src="/scripts/messages.dialog.component.js"></script>
  <script src="/scripts/header.component.js"></script>
  <script src="/scripts/grid.component.js"></script>
  <script src="/scripts/zeichenzaehler.component.js"></script>
  <script src="/scripts/ersteller.select.component.js"></script>
  <script src="/scripts/bestellung/bestellung.suchen.dialog.component.js"></script>
  <script src="/scripts/kunde/kunde.suchen.dialog.component.js"></script>
  <script src="/scripts/kunde/kunde.edit.dialog.component.js"></script>
  <script src="/scripts/reparatur/reparatur.header.component.js"></script>
  <script src="/scripts/reparatur/reparatur.js"></script>
</html>