<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Statistik - Computer-Insel Tools by Sita Geßner</title>
    <link rel="icon" href="/themes/icons/kasse.png">
    <link rel="stylesheet" href="/themes/css/button.css">
    <link rel="stylesheet" href="/themes/css/dialog.css">
    <link rel="stylesheet" href="/themes/css/kassenstand.css">
    <link rel="stylesheet" href="/themes/css/loading.css">
    <link rel="stylesheet" href="/themes/css/raster.css">
    <link rel="stylesheet" href="/themes/css/style.css">
    <link rel="stylesheet" href="/themes/css/tabs.css">
    <script type="text/javascript" src="/scripts/vendor/vue.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/axios.min.js"></script>
  </head>
  <body>
    <div id="statistiken">
      <page-header :marker="'Kassenbuch'"></page-header>
      <page-header-kassenbuch v-bind:marker="'Statistiken'"></page-header-kassenbuch>
      <div id="content">
        <div class="form">
          <h1>Statistiken</h1>
          <div class="m2m">
            <label>Rechnungsdatum von</label>
            <input class="m2" required type="date" v-model="model.zeitraumVon" />
          </div>
          <div class="m2">
            <label>Rechnungsdatum bis</label>
            <input class="m2" required type="date" v-model="model.zeitraumBis" />
          </div>
          <div class="m1">
            <label>Bezeichnung Rechnungsposten (Optional)</label>
            <input class="m1" type="text" v-model="model.posten" />
          </div>
          <div class="m1">
            <button class="right" title="Erstellen" v-on:click="erstelleStatistikZahlungsarten">Erstellen</button>
            <button class="right" title="Überweisungen" v-on:click="erstelleStatistikUeberweisungen">Überweisungen</button>
          </div>
        </div>
        <messages-box v-bind:text="result" v-if="showDialog" @close="showDialog = false"></messages-box>
      </div>
    </div>
  </body>
  <script src="/scripts/util.js"></script>
  <script src="/scripts/messages.dialog.component.js"></script>
  <script src="/scripts/header.component.js"></script>
  <script src="/scripts/kassenbuch/kassenbuch.header.component.js"></script>
  <script src="/scripts/kassenbuch/statistiken.js"></script>
</html>